.vanilla {
	font-family: 'Open Sans', sans-serif;
}

.vanilla ul li:before {
	background-color: #0072c6;
}

.opening-windows a {
	color: #0072c6;
}

.article-header-title {
	font-family: 'Open Sans', sans-serif;	
	position: absolute;
	bottom: 0;
}


.intro {
	background: transparent url(surface-book.png) no-repeat 50% 0;
	background-size: contain;
	height: 0;
	width: 95%;
	max-width: 650px;
	/*padding-bottom: 71.070615034%;*/
	padding-bottom: 85.070615034%;
	margin: 10% auto -40px;
	position: relative;
}

@media screen and (min-width: 650px){
	.intro {
		height: 570px;
		padding: 0;
	}

	.article-header-title {
		bottom: auto;
		text-align: center;
		width: 870px;
		word-spacing: 93px;
		font-size: 90px;
		margin: 0 auto;
		left: -107px;
		top: 156px;
		letter-spacing: -1px;
	}

}