#superfriendly-annual-report-2012 p, #superfriendly-annual-report-2012 li { font: normal 26px "freight-sans-pro"; }
#superfriendly-annual-report-2012 .article-footer p { font-size: 90%; }

#superfriendly-annual-report-2012 h1, #superfriendly-annual-report-2012 .article-title, #superfriendly-annual-report-2012 .fours strong, #superfriendly-annual-report-2012 .horz-bars th, #superfriendly-annual-report-2012 .horz-bars td, #superfriendly-annual-report-2012 .vert-bars td .upward-bar i, #superfriendly-annual-report-2012 .axis-label, #superfriendly-annual-report-2012 .pie tr, #superfriendly-annual-report-2012 .pie tr { font-family: "franklin-gothic-urw-comp"; }
#superfriendly-annual-report-2012 h1 { font-size: 60px; }
#superfriendly-annual-report-2012 .article-title { font-size: 57px; }
#superfriendly-annual-report-2012 .table-wrap h1 { font-size: 40px; }

#superfriendly-annual-report-2012 .vert-bars th { font-family: "freight-sans-pro"; }

#superfriendly-annual-report-2012 .axis-label { font-size: 20px; bottom: 15px; line-height: 1; }

#superfriendly-annual-report-2012 .pie th { font-weight: normal; font-size: 24px; }
    #superfriendly-annual-report-2012 .pie td { font-size: 18px; }