/*
*************************************************

DANIELMALL.COM
General Screen Styles

Created by the ridiculous Dan Mall
http://www.danielmall.com/

*************************************************
*/


/*-------------------------------------------    

    COLOR INDEX
    
    
    #231f20                         Dark Grey
    #656262                         Text Color
    #7f7f7f                         Dotted Border
    #f77000                         Link Orange
    #73ae08     (115, 174, 8)       Link Green 
    
    
    
    Z-INDEX
    
    2000        #home #masthead
    4           .projects li:hover
    3           .browser-chrome-wrap #project-url
    3           .projects li
    3           #publications .inner article
    2           #work-landing #content
    1           #work-subnav
    1           #p24ways-2010
    1           .browser-chrome-wrap
    
-------------------------------------------*/




/*-------------------------------------------    
    General Selectors
-------------------------------------------*/
/** { margin: 0; padding: 0; line-height: 1.5; }*/
@media only screen and (max-device-width: 480px) {
	* { -webkit-text-size-adjust: none; }
}
body { font: normal 62.5%/1.5 Georgia, 'Times New Roman', serif; color: #656262; background: #fff; border-top: 8px solid #231f20; padding-top: 2px; }


/* block level */

h1 { font-weight: normal; font-size: 29px; color: #231f20; margin: 0 0 0.5em; }
ol.articles h1 a { color: #231f20; border-color: #b2b2b2; }
ol.articles h1 a:hover, ol.articles h1 a:focus { color: #73ae08; }
.comment-list h1 { font: normal 16px 'Trebuchet MS', Arial, sans-serif; color: #231f20; }
h2 { font-family: 'Trebuchet MS', Arial, sans-serif; margin: 0 0 0.5em; color: #231f20; }
h3 {  }
h4 {  }
h5 {  }
h6 {  }

p, ul, dl, ol { font-size: 12px; margin: 0 0 1.5em;  }

dd { /*margin: 0 0 0 15px;*/ }

blockquote { margin: 0; padding: 0.9em 0 0 45px; background: transparent url(/i/screen/blockquote.gif) no-repeat 0 0; }
    blockquote p, blockquote ol, blockquote ul { font: 16px Arial, sans-serif; font-style: italic; color: #777; }

table { font-size: 13px; }
	tr {  }
	th, td {  }
	

/* inline */

em { font-style: italic; }
strong { font-weight: bold; }

a { color: #73ae08; text-decoration: none; border-bottom: 1px dotted rgba(115, 174, 8, 0.4); transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
a:hover, a:focus { color: #231f20; border-bottom: 1px dotted #7f7f7f; }

img { display: block; margin: 0 10px 10px 0; float: left; }

del { opacity: 0.3; }
ins { background: none; }

a img { border: none; }

abbr, abbr[title], acronym { font-size: 85%; letter-spacing: 0.1em; text-transform: uppercase; border: none; }

form { margin: 0 0 1em; }
    form > div { margin: 0 0 2em; position: relative; padding-bottom: 2em; }
    div.options > div { margin-bottom: 0.25em; }    
    input[type="text"], textarea { font: 12px 'Trebuchet MS', Arial, sans-serif; color: #626262; color: #999; background-color: #f5f5f5; background: #eee; border: 1px solid #fff; padding: 5px; transition: all 0.1s linear; -moz-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; -o-transition: all 0.1s linear; } 
    input[type="text"]:focus, textarea:focus { background-color: #fdfdfd; border-right: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; outline: none; color: #73ae08; }
    input[type="checkbox"] { margin-right: 0.5em; }
    label { display: block; font: 11px 'Trebuchet MS', Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.1em; color: #aaa; margin: 0 0 0.25em; position: absolute; bottom: 0; }
        label em { font-family: Georgia, 'Times New Roman', serif; font-style: italic; text-transform: none; letter-spacing: 0; }
    input[type="checkbox"] + label { display: inline; position: static; } 
    input.button { transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; outline: none; border: none; padding: 0.5em 15px 0.4em; }
    input.button:hover { cursor: pointer; }
    input.error, textarea.error { border: 1px solid #ff8f8f; }

code { font: 13px/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

header, footer, nav, section, article, mark, hgroup { display: block; }

::selection { background: #73ae08; color: #fff; }
::-moz-selection { background: #73ae08; color: #fff; }

/*-------------------------------------------    
    Global combinations
-------------------------------------------*/

/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark, #masthead nav a, #masthead mark, li[id^="year"] h2, #work-subnav a, #work-subnav mark, #work .breadcrumbs a, #fowd2010 li:first-child blockquote, #flashpitt2009 .rotator li:first-child blockquote, #project-nav a { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link, #masthead nav a, #work-subnav a, #project-nav a { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after, .easy-clearing:after, #tweets ul:after, #work-content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen, .pagination b, #fowd2010 .rotator li, #flashpitt2009 .rotator li  { position: absolute; left: -9999px; }

.real-hide, .hide { display: none; }

.no-marker, #tweets ul, .projects { list-style: none; }


/*-------------------------------------------    
    Reusable Elements
-------------------------------------------*/
.main { width: 560px; float: right; border-left: 1px dotted #7f7f7f; }

ol.articles { border-top: 1px dotted #7f7f7f; }
ol.articles > li, #tweets li { padding: 1.25em 40px 0; border-bottom: 1px dotted #7f7f7f; }
ol.articles > li:last-child { border-bottom: none; }

.meta { font: 78% 'Trebuchet MS', Arial, sans-serif; margin: 0; text-transform: uppercase; letter-spacing: 0.25em; color: #a2a2a2; width: 100%; }
ol.articles .meta, #tweets .meta { position: relative; left: -10px; }
    .meta li { float: left; border-left: 1px solid #e5e5e5; }
    .meta li:first-child { border: none; }
        .meta a { color: #a2a2a2; border: none; display: block; }
        .meta a:hover, .meta a:focus { color: #73ae08; }
    .categories, .meta a { padding: 0.75em 10px; }
        .categories a { display: inline; padding: 0; }
        .categories a:hover, .categories a:focus { color: #73ae08; }
        
.pagination { font-family: 'Trebuchet MS', Arial, sans-serif; margin: 0; border-top: 1px dotted #7f7f7f; padding: 1em 0 1em  40px; font-size: 14px; }
    .pagination li { float: left; margin: 0 3px 0 0; }
        .pagination a, .pagination mark { display: block; border: none; padding: 0.26em 10px; color: #fff; background: #e7e7e7; border-radius: 2.5em; -moz-border-radius: 2.5em; -webkit-border-radius: 2.5em; }
        .pagination a:hover, .pagination a:focus { background: #f77000; }
        .pagination mark { background: #231f20; }
    
.comment-list { font: 12px 'Trebuchet MS', Arial, sans-serif; }    
    .comment-list header { position: relative; padding: 1.5em 0 0; }
        .comment-list header time { position: absolute; top: 0; }
        .comment-list header time a { color: #cfcfcf; font-size: 11px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.1em; border: none; }
        .comment-list header time a:hover, .comment-list header time a:focus { color: #aaa; }
    .comment-list li { padding: 1em 10px 0 60px; border-bottom: 1px dotted #7f7f7f; position: relative; }
        .comment-list p { font-size: 12px; }
        .gravatar { position: absolute; top: 0; left: -60px; float: none; margin: 0; }
        
.main, .sub { float: left; }

.work-meta dt { font: 14px 'Trebuchet MS', Arial, sans-serif; color: #cecece; text-transform: uppercase; letter-spacing: 0.1em; }
.work-meta dd { font-style: italic; }

.work-row { border-bottom: 1px dotted #7f7f7f; }
.work-row:last-child { border-bottom: 0; }    
    .work-row .inner { width: 400px; margin: 0 auto; padding: 3em 0 3em 400px; position: relative; }
    .work-row .inner:before { content: ""; display: block; position: absolute; left: 0; top: 0; }
    .work-row .inner article { position: relative; z-index: 3; }

.work-row .more a, .button { display: inline-block; border-radius: 4px; background: #231f20; color: #fff; text-transform: uppercase; padding: 0.5em 13px; font-family: 'Trebuchet MS', Arial, sans-serif; }
.work-row .more a:hover, .work-row .more a:focus, .button:hover, .button:focus { background: #73ae08; }

.fwa { background-image: url(/i/screen/fwa.png); width: 100px; height: 100px; position: absolute; top: 52px; right: 0; border: none; }
.mobile-fwa { background-image: url(/i/screen/m.fwa.png); width: 76px; height: 77px; position: absolute; top: 52px; right: 0; border: none; }
.fwa:hover, .mobile-fwa:hover { border: none; }
        

/*-------------------------------------------    
    Basic Structure
-------------------------------------------*/
#masthead-wrap { border-top: 1px solid #231f20; border-bottom: 1px solid #bdbdbd; margin: 0 0 30px; }
#article #masthead-wrap, #about-landing #masthead-wrap { margin-bottom: 0; }
    #masthead { width: 800px; margin: 0 auto; height: 40px; position: relative; }
    #home #masthead { height: 128px; z-index: 2000; }
        #masthead h1 { background: transparent url(/i/screen/logo-bg-over2.png) no-repeat 0 0; width: 86px; height: 69px; position: absolute; top: -11px; left: -8px; z-index: 2000; }
        #home #masthead h1 { background-image: url(/i/screen/home-logo2.png); width: 407px; height: 120px; top: 15px; left: -145px; }
            #masthead h1 a { background: transparent url(/i/screen/back-home.gif) no-repeat 80px 22px; width: 259px; height: 49px; position: absolute; top: 0; left: 0; border: none; opacity: 0; transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -webkit-transition-timing-function: ease-out; }
            #masthead h1 a:hover, #masthead h1 a:focus { opacity: 1; background-position: 90px 22px; }
    
    #masthead nav ul { width: 354px; height: 12px; background: transparent url(/i/screen/nav3.gif) no-repeat 0 0; position: absolute; top: 13px; right: 0; z-index: 2; }
    #home #masthead nav ul { width: 417px; height: 14px; background-image: url(/i/screen/home-nav2.png); top: 71px; }
        #masthead nav a, #masthead mark { border: none; height: 32px; position: absolute; top: -10px; opacity: 0; background-position: 10px 10px; }
        #home #masthead nav a { height: 34px; background-position: 10px 10px; top: -10px; }
        #masthead nav a:hover, #masthead .current a, #masthead mark { opacity: 1; }
        #nav-work a, #nav-work mark { background-image: url(/i/screen/nav-work2.gif); width: 57px; left: -10px; }
        #home #nav-work a { background-image: url(/i/screen/home-nav-work2.gif); width: 66px; left: -8px; }
        #nav-articles a, #nav-articles mark { background-image: url(/i/screen/nav-articles2.gif); width: 71px; left: 61px; }
        #home #nav-articles a { background-image: url(/i/screen/home-nav-articles2.gif); width: 85px; left: 73px; top: 1px; }
        #nav-links a, #nav-links mark { background-image: url(/i/screen/nav-links.gif); width: 50px; left: 147px; }
        #home #nav-links a { background-image: url(/i/screen/home-nav-links.gif); width: 66px; left: 173px; top: 1px; }
        #nav-about a, #nav-about mark { background-image: url(/i/screen/nav-about2.gif); width: 60px; left: 218px; }
        #home #nav-about a { background-image: url(/i/screen/home-nav-about2.gif); width: 71px; left: 254px; }
        #nav-contact a, #nav-contact mark { background-image: url(/i/screen/nav-contact2.gif); width: 69px; left: 293px; }
        #home #nav-contact a { background-image: url(/i/screen/home-nav-contact2.gif); width: 84px; left: 339px; }
    
.wrap, .wrap800 { width: 800px; margin: 0 auto; }

footer { border-top: 1px solid #d3d2d2; border-bottom: 16px solid #231f20; margin-bottom: 50px; padding: 1em 0 1.5em; font-family: 'Trebuchet MS', Arial, sans-serif; clear: both; }
    /*footer ul { margin: 0; }*/
    #home footer { margin: 0 auto; width: 800px; border: none; padding: 40px 0 4em; }
        footer li { display: inline; margin: 0 20px 0 0; font-size: 11px; }
            footer a { color: #656262; border-bottom: 1px dotted #656262; }
            footer a:hover { border-bottom-style: solid; }


/*-------------------------------------------    
    Home page
-------------------------------------------*/
#logo { display: none; }

#home #masthead-wrap { margin-bottom: 0; }

#roles, #master-roles { position: absolute; top: 95px; font: 14px 'Trebuchet MS', Arial, sans-serif; color: #929090; text-transform: uppercase; letter-spacing: 0.1em; }
    #roles li { display: none; }
    #roles li:before { content: "/"; opacity: 0.5; padding: 0 7px 0 3px; }
    #roles li:first-child:before { content: ""; padding: 0; }
    #roles li:nth-child(1), #roles li:nth-child(2) { display: inline-block; }

.home-row { height: 200px; width: 100%; background: #f7f7f7; border-bottom: 1px solid #dedede; overflow: hidden; position: relative; border-top: 4px solid #f7f7f7; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
.home-row:hover { overflow: visible; z-index: 100; background: #fff; border-top: 4px solid #fff; }
.home-row:hover + .home-row { border-top: 4px solid rgba(0, 0, 0, 0.03); }
    .home-row .inner { width: 800px; margin: 0 auto; position: relative; }
    .home-row ul { margin: 0; }
    .home-row h1 { position: absolute; top: 30px; left: 0; width: 80px; height: 40px; }
    #home #work h1 { background-image: url(/i/screen/home-featured-work.png); }
    #home #latest-articles h1 { background-image: url(/i/screen/home-latest-articles.png); }
    #home #links h1 { background-image: url(/i/screen/home-links.png); }
	#home #dribbble h1 { background-image: url(/i/screen/home-from-dribbble.png); }
    .home-round-item { position: absolute; /*box-shadow: inset 0 0 10px #000000;*/ }
        .home-round-item a { width: 217px; height: 217px; -webkit-border-radius: 217px; -moz-border-radius: 217px; border-radius: 217px; transition: all 0.1s ease-in; -moz-transition: all 0.1s ease-in; -webkit-transition: all 0.1s ease-in; -o-transition: all 0.1s ease-in; transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; background-position: center center; border: none; /*-moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5); box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);*/ }
        .home-round-item a:hover, .home-round-item a:focus { width: 225px; height: 225px; border-radius: 225px; margin-left: -4px; margin-top: -4px; /*-moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);*/ }
    .home-row .more { position: absolute; left: 0; top: 70px; }
    #home #links .more { top: 50px; }
	
	.position1 { left: 125px; top: 2px; z-index: 3; }
	.position2 { left: 305px; top: 1px; z-index: 2; }
	.position3 { left: 444px; top: 6px; z-index: 4; }
	.position4 { left: 600px; top: 0; z-index: 5; }	

#home #links { height: auto; }    
    #home #links .inner, #tweet .inner { padding: 30px 0 0 160px; width: 640px; }
        #home #links .articles li, #tweets li { width: 130px; padding: 0 30px 20px 0; float: left; border: none; }
		
#home #dribbble img { height: 225px; }



/*-------------------------------------------    
    Work
-------------------------------------------*/
#the-work h1 { background-image: url(/i/screen/the-work.gif); width: 668px; height: 106px; margin: 50px auto 10px; }
#the-work h2 { text-align: center; font-weight: normal; font-size: 12px; margin-bottom: 50px; } 

#work-landing #content { border-top: 1px dotted #7f7f7f; position: relative; z-index: 2; }

    .work-tabs { background: #f7f7f7; border-bottom: 1px dotted #7f7f7f; float: left; width: 100%; }
        .work-tabs ul { margin: 0; position: relative; left: 50%; float: left; }
            .work-tabs li { float: left; position: relative; right: 50%; margin-left: 2em; }
            .work-tabs li:first-child { margin-left: 0; }
                .work-tabs a { display: block; padding: 1em 0.5em; border: none; }
                
    .client-grid { background: transparent url(/i/screen/work/clients/client-grid-tile.png) repeat-y 266px 0; }
        .client-grid li { float: left; width: 266px; border-bottom: 1px solid #e5e5e5; margin-left: 1px; background: #eee; }
        .client-grid li:nth-child(3n+1) { margin-left: 0; }
            .client-grid a { width: 264px; height: 167px; background-color: #fff; border: 1px solid #fff; }
            .client-grid a:hover { position: relative; top: -5px; left: -5px; border: 1px solid #ccc; }
            
            .client-activate a { background-image: url(/i/screen/work/clients/activate.png); }
            .client-activision-blizzard a { background-image: url(/i/screen/work/clients/activision-blizzard.png); }
            .client-four24 a { background-image: url(/i/screen/work/clients/four24.png); }
            .client-crayola a { background-image: url(/i/screen/work/clients/crayola.png); }
            .client-fog-creek a { background-image: url(/i/screen/work/clients/fog-creek.png); }
            .client-ge a { background-image: url(/i/screen/work/clients/ge.png); }
            .client-housing-works a { background-image: url(/i/screen/work/clients/housing-works.png); }
            .client-jetwaders a { background-image: url(/i/screen/work/clients/jetwaders.png); }
            .client-lucasfilm a { background-image: url(/i/screen/work/clients/lucasfilm.png); }
            .client-mattel a { background-image: url(/i/screen/work/clients/mattel.png); }
            .client-mica a { background-image: url(/i/screen/work/clients/mica.png); }
            .client-planeteye a { background-image: url(/i/screen/work/clients/planeteye.png); }
            .client-posse a { background-image: url(/i/screen/work/clients/posse.png); }
            .client-preventiv a { background-image: url(/i/screen/work/clients/preventiv.png); }
            .client-sherwin-williams a { background-image: url(/i/screen/work/clients/sherwin-williams.png); }
            .client-microsoft a { background-image: url(/i/screen/work/clients/microsoft.png); }
            .client-coupon-craze a { background-image: url(/i/screen/work/clients/coupon-craze.png); }
            .client-wrigley a { background-image: url(/i/screen/work/clients/wrigley.png); }
    
    #by-client h1 { text-align: center; }
            
    .client-list { text-align: center; line-height: 2; margin: 0 0 3em; }
        .client-list li { display: inline; white-space: nowrap; }
        .client-list li:after { content: "•"; margin: 0 1em; color: #ccc; }
        .client-list li:last-child:after { content: ""; margin: 0; }
                
    .typeface-list li[id^="typeface"] { border-top: 1px dotted #7f7f7f; padding: 2em 0 0; margin: 0 0 0.5em; background-repeat: no-repeat; background-position: 0 25px; background-color: transparent; }            
    .typeface-list li[id^="typeface"]:first-child { border: none; }
        .specimen { width: 540px; padding: 0 20px 0 0; float: left; }
            .specimen h1 { width: 540px; height: 50px; margin: 0; }
            .specimen-meta { margin: 60px 0 2em; }
                .specimen-meta li { font-style: italic; color: #9d9d9d; font-size: 14px; display: inline; border-left: 1px solid #ccc; padding: 0 0 0 0.75em; margin: 0 0 0 0.5em; }
            .specimen-meta li:first-child { padding-left: 0; margin-left: 0; border: none; }
            
    #typeface-american-typewriter   { background-image: url(/i/screen/work/typefaces/american-typewriter.png); background-position: 0 35px; }   
    #typeface-antenna               { background-image: url(/i/screen/work/typefaces/antenna.png); }   
    #typeface-arial                 { background-image: url(/i/screen/work/typefaces/arial.png); }   
    #typeface-avant-garde           { background-image: url(/i/screen/work/typefaces/avant-garde.png); }   
    #typeface-berkeley              { background-image: url(/i/screen/work/typefaces/berkeley.png); }   
    #typeface-burbank               { background-image: url(/i/screen/work/typefaces/burbank.png); }   
    #typeface-century-expanded      { background-image: url(/i/screen/work/typefaces/century-expanded.png); }   
    #typeface-clarendon             { background-image: url(/i/screen/work/typefaces/clarendon.png); }   
    #typeface-clan                  { background-image: url(/i/screen/work/typefaces/clan.png); }   
    #typeface-conduit               { background-image: url(/i/screen/work/typefaces/conduit.png); }   
    #typeface-cooter-deuce          { background-image: url(/i/screen/work/typefaces/cooter-deuce.png); }   
    #typeface-corbel                { background-image: url(/i/screen/work/typefaces/corbel.png); }   
    #typeface-courier-new           { background-image: url(/i/screen/work/typefaces/courier-new.png); }   
    #typeface-dagny                 { background-image: url(/i/screen/work/typefaces/dagny.png); background-position: 0 15px; }   
    #typeface-didot                 { background-image: url(/i/screen/work/typefaces/didot.png); }   
    #typeface-din                   { background-image: url(/i/screen/work/typefaces/din.png); }   
    #typeface-estilo-script         { background-image: url(/i/screen/work/typefaces/estilo-script.png); }   
    #typeface-franklin-gothic       { background-image: url(/i/screen/work/typefaces/franklin-gothic.png); }   
    #typeface-garamond              { background-image: url(/i/screen/work/typefaces/garamond.png); }   
    #typeface-ge-inspira            { background-image: url(/i/screen/work/typefaces/ge-inspira.png); background-position: 0 20px; }   
    #typeface-georgia               { background-image: url(/i/screen/work/typefaces/georgia.png); background-position: 0 15px; }   
    #typeface-gill-sans             { background-image: url(/i/screen/work/typefaces/gill-sans.png); }   
    #typeface-gotham                { background-image: url(/i/screen/work/typefaces/gotham.png); }   
    #typeface-griffith-gothic       { background-image: url(/i/screen/work/typefaces/griffith-gothic.png); }   
    #typeface-helvetica             { background-image: url(/i/screen/work/typefaces/helvetica.png); }   
    #typeface-kari                  { background-image: url(/i/screen/work/typefaces/kari.png); }   
    #typeface-kilogram              { background-image: url(/i/screen/work/typefaces/kilogram.png); }   
    #typeface-lubalin-graph         { background-image: url(/i/screen/work/typefaces/lubalin-graph.png); }   
    #typeface-lucida-grande         { background-image: url(/i/screen/work/typefaces/lucida-grande.png); }   
    #typeface-matt-b                { background-image: url(/i/screen/work/typefaces/matt-b.png); }   
    #typeface-minion                { background-image: url(/i/screen/work/typefaces/minion.png); }   
    #typeface-omnes                 { background-image: url(/i/screen/work/typefaces/omnes.png); }   
    #typeface-pmn-caecilia          { background-image: url(/i/screen/work/typefaces/pmn-caecilia.png); }   
    #typeface-proxima-nova          { background-image: url(/i/screen/work/typefaces/proxima-nova.png); }   
    #typeface-quicksand             { background-image: url(/i/screen/work/typefaces/quicksand.png); }   
    #typeface-sauna                 { background-image: url(/i/screen/work/typefaces/sauna.png); }   
    #typeface-sentinel              { background-image: url(/i/screen/work/typefaces/sentinel.png); }   
    #typeface-serlio                { background-image: url(/i/screen/work/typefaces/serlio.png); }   
    #typeface-sign-painter          { background-image: url(/i/screen/work/typefaces/sign-painter.png); }   
    #typeface-trebuchet-ms          { background-image: url(/i/screen/work/typefaces/trebuchet-ms.png); }   
    #typeface-trade-gothic          { background-image: url(/i/screen/work/typefaces/trade-gothic.png); }   
    #typeface-tungsten              { background-image: url(/i/screen/work/typefaces/tungsten.png); }   
    #typeface-univers               { background-image: url(/i/screen/work/typefaces/univers.png); }   
    #typeface-verdana               { background-image: url(/i/screen/work/typefaces/verdana.png); }   
    #typeface-yanone-kaffeesatz     { background-image: url(/i/screen/work/typefaces/yanone-kaffeesatz.png); }   
    
        .in-use { margin: 0 0 0 560px; }
            .in-use h2 { margin: 0 0 0.25em; text-transform: uppercase; color: #bebebe; }
            .in-use a { border: none; font-size: 16px; }
            .in-use li { display: inline; }
            .in-use li:before { content: ", "; position: relative; left: -0.2em; }
            .in-use li:first-child:before { content: ""; }

    #work-subnav { width: 391px; height: 42px; position: relative; margin: 0 auto -1px; background: transparent url(/i/screen/work-subnav2.png) no-repeat 0 0; z-index: 1; }
        #work-subnav li { position: absolute; top: 0; }
            #work-subnav a, #work-subnav mark { border: none; height: 42px; opacity: 0; background: transparent url(/i/screen/work-subnav2.png) no-repeat 0 0; }
            #work-subnav mark { opacity: 1; }
            #work-subnav a:hover, #work-subnav a:focus { opacity: 1; }
        #work-portfolio { left: 0; }
            #work-portfolio a { width: 89px; background-position: 0 -42px; }
            #work-portfolio mark { width: 89px; background-position: 0 -84px; }
        #work-speaking { left: 93px; }
            #work-speaking a { width: 180px; background-position: -93px -42px; }
            #work-speaking mark { width: 180px; background-position: -93px -84px; }
        #work-publications { left: 277px; }
            #work-publications a { width: 114px; left: 0; background-position: -277px -42px; }
            #work-publications mark { width: 114px; left: 0; background-position: -277px -84px; }

    #by-year { float: right; width: 650px; border: none; width: 100%; float: none; }
        .projects li { position: absolute; z-index: 3; }
        .projects li:hover { z-index: 4; }        
            .projects a { display: block; width: 180px; height: 180px; background: #ff7000; background: rgba(115, 174, 8, 1); color: #fff; font: bold 16px Helvetica, Arial, sans-serif; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px; text-align: center; display: table-cell; vertical-align: middle; border: none; opacity: 0.75; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; padding: 10px; transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }
            .projects a:visited { background: #ccc; }
            .projects a:hover, .projects a:focus { opacity: 1; background: #231f20; /*border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;*/ }
			.new-work { position: absolute; right: 15px; top: 20px; background: black; color: #fff; text-transform: uppercase; font-weight: normal; padding: 5px; }
    
    #clients { width: 136px; padding: 1em 10px 100px 0; border-right: 1px dotted #7f7f7f; }
        #clients h1 { font: bold 14px 'Trebuchet MS', Arial, sans-serif; margin-bottom: 1.5em; }
            #clients li { margin-bottom: 0.65em; line-height: 1.2; font-size: 11px; }
                #clients li abbr, #clients li abbr[title] { font-size: 90%; letter-spacing: 0.25em; }
            #clients ul > li { padding-left: 10px; text-indent: -10px; }
            li[id^="year"] { height: 200px; border-bottom: 1px dotted #7f7f7f; position: relative; }
            li[id^="year"]:last-child { border-bottom: none; }
				#year2012 { height: 180px; }
                #year2010 { height: 300px; }
                #year2009 { height: 375px; }
                #year2007 { height: 170px; }
                #year2006 { height: 160px; }
                    li[id^="year"] h2 { width: 38px; height: 12px; position: absolute; top: 4px; left: 10px; }
					#year2012 h2 { background-image: url(/i/screen/2012.gif); }
                    #year2011 h2 { background-image: url(/i/screen/2011.gif); }
                    #year2010 h2 { background-image: url(/i/screen/2010.gif); }
                    #year2009 h2 { background-image: url(/i/screen/2009.gif); }
                    #year2008 h2 { background-image: url(/i/screen/2008.gif); }
                    #year2007 h2 { background-image: url(/i/screen/2007.gif); }
                    #year2006 h2 { background-image: url(/i/screen/2006.gif); }
                    #year-misc h2 { background-image: url(/i/screen/misc.gif); }
                
#work .breadcrumbs { background: #999 url(/i/screen/work/breadcrumbs-mask.png) no-repeat 0 0; width: 144px; height: 15px; margin: 0 auto 10px; position: relative; }
    #work .breadcrumbs ul { list-style: none; }
        #work .breadcrumbs li { position: absolute; top: 0; }
            #work .breadcrumbs a { border: none; height: 15px; width: 52px; opacity: 0; }
            #work .breadcrumbs a:hover, #work .breadcrumbs a:focus { opacity: 1; }
        #breadcrumbs-home { left: 0; }
            #work #breadcrumbs-home a { background-image: url(/i/screen/work/breadcrumbs-mask.png); background-color: #73ae08; }
        #breadcrumbs-work { left: 79px; }
            #work #breadcrumbs-work a { background-image: url(/i/screen/work/breadcrumbs-mask.png); background-color: #73ae08; background-position: -79px 0; }
    
    #work-area hgroup { text-align: center; margin: 0 0 2em; }
        #work-area hgroup h1 { margin: 0 auto 0.3em; }
        #work-area hgroup h2 { margin: 0 0 0.2em; }
        
        #work-area-wrap #pullquote, #work-area-wrap #awards { width: 800px; border-bottom: 1px dotted #7f7f7f; }
            #work-area-wrap #awards { position: relative; left: 1px; }
            #work-area-wrap #awards ul { list-style: none; }
                #work-area-wrap #awards a { border: none; position: absolute; }
    
    #project-header { position: relative; margin: 0 0 30px; }
        #project-header hgroup { position: relative; }
        #project-nav { background: transparent url(/i/screen/work/project-nav.png) no-repeat 0 0; width: 800px; height: 45px; position: absolute; top: 25px; left: 0; }
            #project-nav li { position: absolute; top: 0; width: 45px; height: 45px; opacity: 0; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
            #project-header:hover li { opacity: 1; }
                #project-nav a { background: transparent url(/i/screen/work/project-nav-over2.png) no-repeat 0 0; width: 45px; height: 45px; border: none; opacity: 0; }
                #project-nav a:hover, #project-nav a:focus { opacity: 1; }
            #project-nav .prev { left: 0; background: transparent url(/i/screen/work/project-nav-over.png) no-repeat 0 0; }
            #project-nav .next { right: 0; background: transparent url(/i/screen/work/project-nav-over.png) no-repeat -755px 0; }
                #project-nav .next a { background-position: -755px 0; }
                
                #facebook-like > iframe { margin-top: 10px; }
                    
    .project-image { width: 100%; min-width: 800px; }
        .project-image .wrap { position: relative; }
    
    .browser-chrome-wrap { position: relative; margin: 0 0 -150px; z-index: 1; width: 800px; }    
        .browser-chrome-wrap #project-url, .project-url { position: absolute; top: 34px; left: 116px; z-index: 3; font: 10px 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #999; border: none; }
        .browser-chrome-wrap #project-url:hover, .project-url:hover { color: #73ae08; border: none; }
        .browser-chrome { padding: 59px 0 0; background: transparent url(/i/screen/work/browser-chrome-top.jpg) no-repeat center 0; position: absolute; width: 950px; left: -42px; top: 0; }
        .browser-chrome-wrap img { margin: 0 0 0 91px; float: none; }
        .browser-chrome-wrap .inner { padding: 0 0 250px; background: transparent url(/i/screen/work/browser-bottom.jpg) no-repeat 0 bottom; }

    #work-content { position: relative; z-index: 2; border-top: 1px dotted #7f7f7f; background: transparent url(/i/screen/work/work-content-bg.jpg) repeat-y 50% 0; min-width: 800px; }
        #work-content .main { width: 540px; float: left; border: none; padding: 20px 20px 2em 0; }
            #work-content .main p, #work-content .main ol, #work-content .main ul { font-size: 14px; }
        #work-content .sub { width: 200px; float: none; margin: 0 0 0 560px; padding: 20px; }
            #work-content .sub h2 { color: #000; text-transform: uppercase; margin: 0 0 0.1em; }
            #work-content .sub p, #work-content .sub ol, #work-content .sub ul { list-style: none; font-style: italic; padding-left: 8px; text-indent: -8px; font-size: 11px; }

        #work-content p:last-child { margin-bottom: 0; }
        
        #bibliography { border-top: 1px solid #eee; padding-top: 1.5em; }
            #bibliography h1 { font: 15px 'Trebuchet MS', Arial, sans-serif; }
            #work-content #bibliography p, #work-content #bibliography ol, #work-content #bibliography ul { font-size: 12px; }
    
    #publications #content { border-top: 1px dotted #7f7f7f; padding: 0 0 2em; position: relative; z-index: 2; width: 800px; margin: 0 auto; }    
        #one-two .inner:before { left: 70px; top: 80px; width: 222px; height: 51px; background: transparent url(/i/screen/publications-onetwo.png) no-repeat 0 0; }
        #designersmx .inner:before { left: 80px; top: 12px; width: 202px; height: 202px; background: transparent url(/i/screen/publications-designersmx.png) no-repeat 0 0; }
        #typekit .inner:before { left: 40px; top: 60px; width: 273px; height: 73px; background: transparent url(/i/screen/publications-typekit.png) no-repeat 0 0; }
        #mc .inner:before { left: 60px; top: 20px; width: 249px; height: 194px; background: transparent url(/i/screen/publications-mc.png) no-repeat 0 0; }
    #p24ways-2010 { z-index: 1; min-height: 280px; }
        #p24ways-2010 .inner:before { left: -30px; width: 322px; height: 295px; background: transparent url(/i/screen/publications-24ways2010.png) no-repeat 0 0; z-index: 1; }
        #soda .inner:before { left: -60px; width: 524px; height: 123px; background: transparent url(/i/screen/publications-soda.png) no-repeat 0 0; }
        #ala-artdirection .inner:before { left: -10px; top: 20px; width: 397px; height: 162px; background: transparent url(/i/screen/publications-ad.jpg) no-repeat 0 0; }
        #ala-flashstandards .inner:before { left: -10px; top: 15px; width: 391px; height: 203px; background: transparent url(/i/screen/publications-cold-war.jpg) no-repeat 0 0; }
        #istockphoto .inner:before { left: 50px; top: 55px; width: 273px; height: 67px; background: transparent url(/i/screen/publications-istock.png) no-repeat 0 0; }
        #p24ways-2009 .inner:before { left: 120px; top: 35px; width: 139px; height: 145px; background: transparent url(/i/screen/publications-24ways2009.png) no-repeat 0 0; }
        #dotnet .inner:before { left: 20px; top: auto; bottom: 0; width: 332px; height: 261px; height: 200px; background: transparent url(/i/screen/publications-dotnet.jpg) no-repeat 0 0; }
        #ala-semanticflash .inner:before { left: 100px; width: 204px; height: 205px; background: transparent url(/i/screen/publications-semanticflash.jpg) no-repeat 0 0; }
        
    
            #publications #content > ol li h1 { font: 18px 'Trebuchet MS', Arial, sans-serif; margin-bottom: 0.75em; }
                #publications #content > ol li h1 a { line-height: 1.3; }
        #publications li .meta { font-size: 11px; margin: -0.75em 0 0.75em; }
    
        
    #speaking #content { border-top: 1px dotted #7f7f7f; padding: 0 0 2em; position: relative; z-index: 2; }    
        #speaking .work-row { height: 350px; padding: 0; }
            #speaking .work-row .inner { position: relative; padding: 0; width: 800px; }
            #speaking .work-row a { transition: all 0s linear; -moz-transition: all 0s linear; -webkit-transition: all 0s linear; -o-transition: all 0s linear; }
        #aiga-jax { background: transparent url(/i/screen/work/speaking/aiga-jax.gif) repeat 50% 50%; font-family: Helvetica, Arial, sans-serif; }
            #speaking #aiga-jax .inner { width: 100%; background: transparent url(/i/screen/work/speaking/aiga-jax-banner.gif) no-repeat 50% 50px; padding-top: 57px; top: 30px; }
            #aiga-jax article { width: 800px; margin: 0 auto; text-align: center; }
                #aiga-jax .org { color: #fff; font-size: 16px; font-family: Georgia, 'Times New Roman', serif; }
                #aiga-jax h1 { font-weight: bold; letter-spacing: -1px; margin: 0 0 0.25em; }
                #aiga-jax h2 { font-family: Helvetica, Arial, sans-serif; }
                #aiga-jax ul { font-size: 16px; }
                    #aiga-jax li { display: inline; margin-right: 10px; }
                    #aiga-jax li + li { border-left: 1px solid #999; padding-left: 10px; }
                #aiga-jax a { color: #00A0AF; }
                #aiga-jax a:hover, #aiga-jax a:focus { color: #ff7d05; }                
        #webdesignday2012 { background: #7cc1af url(/i/screen/work/speaking/wdd-pattern.png) repeat 0 0; }
            #webdesignday2012 article { text-align: center; }
                #webdesignday2012 hgroup { position: relative; top: 75px; }
                    #webdesignday2012 h1 { font-family: "Adelle"; font-weight: bold; color: #fff; font-size: 50px; margin: 0; }
                    #webdesignday2012 p, #webdesignday2012 h2 { font-family: 'Proxima Nova'; color: #fff; font-size: 20px; }
                    #webdesignday2012 h2 { font-size: 24px; opacity: 0.5; }
		#awdg { background: #991b1e; }        
			#awdg article { background: transparent url(/i/screen/work/speaking/awdg.png) no-repeat 50% 0; height: 350px; } 
				#awdg p { margin: 0; }
					#awdg a.cta { position: absolute; top: 0; left: 0; width: 800px; height: 350px; border: none; display: block; }
		#ffwd { background: transparent url(/i/screen/work/speaking/ffwd-bg.png) repeat-x 0 0; }        
			#ffwd .inner { background: transparent url(/i/screen/work/speaking/ffwd.png) no-repeat 50% 0; height: 350px; width: 100% !important; } 
				#ffwd p { margin: 0; }
					#ffwd a.cta { position: absolute; top: 0; left: 50%; width: 800px; height: 350px; margin-left: -400px; border: none; display: block; }
		#circlesconference { background: transparent url(/i/screen/work/speaking/circles-conference-bg.jpg) repeat 0 0; }        
			#circlesconference article { background: transparent url(/i/screen/work/speaking/circles-conference.png) no-repeat 50% -30px; height: 350px; position: relative; } 
				#circlesconference p { margin: 0; }
					#circlesconference a.cta { position: absolute; top: 0; left: 0; width: 800px; height: 350px; border: none; display: block; }
                #circlesconference .button { background: #d12a00; position: absolute; left: 50%; top: 250px; margin-left: -50px; }
                    #circlesconference .button a { color: #e0ded0; border: none; }
                    #circlesconference .button:hover, #circlesconference .button a:hover, #circlesconference .button a:focus { background: #000; }
        #newadventures2012 { background: #fff url(/i/screen/work/speaking/newadventures2012.png) no-repeat center 72px; }        
            #newadventures2012 a.cta { background: transparent url(/i/screen/work/speaking/newadventures2012-cta.png) no-repeat 0 3px; width: 150px; height: 62px; border: none; position: absolute; left: 50%; margin-left: -75px; top: 290px; }
                #newadventures2012 a.cta:hover, #newadventures2012 a.cta:focus { background-position: 0 0; }
        #breakthroughs { background: #e9193a url(/i/screen/work/speaking/breakthroughs.png) no-repeat center 0; height: 0; }
            #breakthroughs .inner { height: 350px; }
                #breakthroughs .inner article { position: static; }
                    #breakthroughs .register { position: absolute; top: 196px; left: 76px; }
                        #breakthroughs .register a { font: 16px Georgia, 'Times New Roman', serif; font-style: italic; color: #fff; border: none; width: 9em; background: #000; padding: 0.75em 1em; display: block; }
                        #breakthroughs .register a:hover, #breakthroughs .register a:focus { color: #ff0029; }
                        #breakthroughs .register .point { display: block; background-image: url(/i/screen/work/speaking/breakthroughs-point.png); width: 10px; height: 9px; position: absolute; bottom: -9px; left: 10px;  }
        #sxsw2011 { background: #000 url(/i/screen/work/speaking/sxsw2011.jpg) no-repeat center 0; }
            #sxsw2011 p { text-align: center; position: relative; top: 320px; color: rgba(255, 255, 255, 0.5); }
			#sxsw2011 a { color: #ed721b; opacity: 0.8; }
			#sxsw2011 a:hover, #sxsw2011 a:focus { opacity: 1; }			
            #sxsw2011 a.cta { background-image: url(/i/screen/work/speaking/sxsw2011-cta.png); width: 279px; height: 36px; border: none; position: absolute; left: 50%; margin-left: -140px; top: 120px; opacity: 1; }
            #sxsw2011 a.cta:hover, #sxsw2011 a.cta:focus { background-position: 0 -36px; }
        #inspire-conf { background: transparent url(/i/screen/work/speaking/inspire-conf.png) no-repeat center 0; }
            #inspire-conf p.more { position: absolute; top: 290px; left: 330px; }
            #inspire-conf a { background: transparent url(/i/screen/work/speaking/inspire-register.png) no-repeat 0 0; width: 135px; height: 24px; padding: 0; border: none; }
            #inspire-conf a:hover, #inspire-conf a:focus { background-position: 0 -24px; }
        #r2bc2012 { background: #000; }
            #r2bc2012 hgroup { background-image: url(/i/screen/work/speaking/r2bc.png); width: 431px; height: 274px; margin: 0 auto; position: relative; top: 75px;  }
			#r2bc2012 .cta { border: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
        #sva-flash-intensive { background: #000 url(/i/screen/work/speaking/sva.png) no-repeat center 0; }
		#adc90 { background: #d0caca url(/i/screen/work/speaking/adc90.png) no-repeat 50% 0; }
	        #adc90 a.cta { background: transparent url(/i/screen/work/speaking/adc90-cta.png) no-repeat 0 0; width: 186px; height: 42px; border: none; position: absolute; left: 230px; top: 192px; }
	            #adc90 a.cta:hover, #adc90 a.cta:focus { background-position: 0 -42px; }	        
        #miami-ad-school { background: #d9498b url(/i/screen/work/speaking/miami-ad-school.png) no-repeat center 0; }
            #miami-ad-school .more { color: #fff; font: 21px 'Trebuchet MS', Arial, sans-serif; position: absolute; top: 200px; text-align: center; width: 800px; }
                #miami-ad-school .more a { background: rgba(0, 0, 0, 0.2); }
                #miami-ad-school .more a:hover, #miami-ad-school .more a:focus { background: rgba(0, 0, 0, 0.5); }
        #fowd2010 { background: #000 url(/i/screen/work/speaking/fowd2010_2.jpg) no-repeat center 0; height: 349px !important; }
            #fowd2010 .rotator { position: absolute; list-style: none; left: 360px; top: 178px; }
                #fowd2010 li:first-child { position: static; }
                    #fowd2010 li:first-child blockquote { background: #000 url(/i/screen/work/speaking/fowd2010-quote1.png) no-repeat 0 0; width: 333px; height: 102px; }
            #speaking #fowd2010 .inner { height: 350px; }
            #speaking #fowd2010 article { position: static; }
            #fowd2010 .credit { position: absolute; bottom: -10px; left: 220px; }
                #fowd2010 .credit a:hover, #fowd2010 .credit a:focus { color: #fff; }
        #sxsw2010 { background: #000 url(/i/screen/work/speaking/sxsw2010.jpg) no-repeat center 0; height: 349px !important; }
            #sxsw2010 article { padding: 115px 0 0; position: relative; left: -8px; width: 500px; }
                #sxsw2010 p { font: 16px 'Trebuchet MS', Arial, sans-serif; color: #999; }
                #sxsw2010 .more a { background: rgba(255, 255, 255, 0.2); border: none; }
                #sxsw2010 .more a:hover, #sxsw2010 .more a:focus { background: rgba(255, 255, 255, 0.3); }
            #sxsw2010 a { color: #ff9792; }
            #sxsw2010 blockquote { position: relative; left: -9px; padding: 0; background: none; }
                #sxsw2010 blockquote p { font-size: 13px; }
                #sxsw2010 blockquote p:first-child { font-size: 20px; color: #ccc; margin-bottom: 0.25em; }
                #sxsw2010 blockquote p:first-child:before { content: "\201c"; }
                #sxsw2010 blockquote p:first-child:after { content: "\201d"; }
                #sxsw2010 blockquote p:last-child:before { content: "\2014"; }
        #flashpitt2009 { background: #000 url(/i/screen/work/speaking/flashpitt2009.jpg) no-repeat center 0; height: 349px !important; }
            #flashpitt2009 .rotator { position: absolute; list-style: none; left: 0; top: 145px; }
                #flashpitt2009 .rotator li:first-child { position: static; }
                #flashpitt2009 .rotator li:first-child blockquote { background: transparent url(/i/screen/work/speaking/flashpitt2009-quote1.png) no-repeat 0 0; width: 620px; height: 102px; }
        #fowd2008 { background: #000 url(/i/screen/work/speaking/fowd2008.jpg) no-repeat center 0; position: relative; }
            #speaking #fowd2008 .inner, #speaking #fowd2008 article { position: static; }
                #fowd2008 hgroup { width: 384px; height: 317px; display: block; background: transparent url(/i/screen/work/speaking/fowd2008-sketch.png) no-repeat center 0; position: absolute; right: 0; bottom: 0;  }
                    #fowd2008 .more { position: relative; top: 250px; left: -10px; font-size: 16px;  }
                        #fowd2008 .more a { background: none; text-transform: none; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 0; }
                        #fowd2008 .more a:hover, #fowd2008 .more a:focus { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/*-------------------------------------------    
    Articles
-------------------------------------------*/

#article-landing hgroup h1 { background-image: url(/i/screen/articles-headline.gif); width: 238px; height: 47px; margin: 20px 0 0.25em 40px; }
#article-landing hgroup h2 { color: #bdbbbc; font-size: 21px; margin: 0 0 1em 40px; font-weight: normal; }

#article-landing .main { float: right; min-height: 300px; }

#article-landing .sub { padding-top: 24px; width: 200px; }
    #article-landing .sub h1 { background-image: url(/i/screen/displaying.gif); width: 85px; height: 15px; }
    #article-landing .sub li { border-bottom: 1px solid #ddd; }
        #article-landing .sub li a, #article-landing .sub li mark { display: block; border: none; padding: 0.3em 7px; }

#comments-wrap, #article-meta header { width: 800px; margin: 0 auto; }

#article-meta { background: #231f20; }
    #article-meta header { text-transform: uppercase; letter-spacing: 0.1em; padding: 0.5em 0; }
        #article-meta h1 { color: #fff; font-size: 15px; float: left; margin: 0; }
        #article-meta p { color: #fff; float: right; margin: 0; font: 11px 'Trebuchet MS', Arial, sans-serif; position: relative; top: 0.2em; min-width: 153px; }
        #article-meta a { color: #fff; border-color: #fff; }
        
#article-area-wrap { border-bottom: 35px solid #231f20; padding-bottom: 30px; }

#comment-form input[type="text"], #contact-form input[type="text"], #contact-form select { width: 350px; }
#comment-form textarea, #contact-form textarea { width: 550px; } 



#article .main { width: 608px; border: none; border-right: 1px solid #231f20; padding: 2em 15px 50px 0; }
#article-link-format { width: 800px; margin: 3em auto; }

#article .sub { width: 153px; padding: 20px 0 0 20px; } 

    #article .sub section { margin: 0 0 3em; }
    
        #article-info time { font-size: 12px; }
        
        #article-tags li { background: transparent url(/i/screen/tags-bullet.gif) no-repeat 0 center; padding-left: 12px; }
            #article-tags a { font-style: italic; color: #686868; border: none; }
            #article-tags a:hover, #article-tags a:focus { color: #f77000; }


/*-------------------------------------------    
    About
-------------------------------------------*/
#about-landing #intro { padding: 165px 0 2em 305px; padding: 130px 0 2em 350px; border-bottom: 7px solid #231f20; /*background: transparent url(/i/screen/about/dan-headshot2.png) no-repeat 40px 0*/; margin: -50px 0 2px; position: relative; margin: -20px 0 2px; }
    #about-landing #intro h1 { background-image: url(/i/screen/about/dan-headshot2.png); width: 472px; height: 69px; width: 840px; height: 431px; position: absolute; bottom: 0; left: -90px; margin: 0; z-index: 1; }
    #about-landing #intro p { font-size: 15px; color: #231f20; line-height: 1.7; padding-right: 10px; position: relative; top: 10px; z-index: 5; }
        #about-landing #intro cite.credit { font-size: 13px; color: #b0b0b0; }
            #about-landing #intro cite.credit a { color: #b0b0b0; border-color: #ddd; }

#about-landing #content { border-top: 1px dotted #7f7f7f; }
    #about-landing #content h1 { font: bold 18px 'Trebuchet MS', Arial, sans-serif; margin-top: 1em; }

#about-landing .main { width: 627px; float: left; border: none; }
#about-landing .sub { width: 150px; padding: 3px 0 0 15px; float: right; border-left: 1px dotted #7f7f7f; }

#dig { padding-right: 15px; border-bottom: 7px solid #231f20; padding-bottom: 2em; margin-bottom: 2px; }
    #dig p { font-size: 13px; line-height: 1.7; margin-left: 330px; }
    #dig header + p { float: left; margin-left: 0; width: 310px; padding-right: 30px; }
#about-site { width: 194px; float: left; padding-left: 15px; border-left: 1px dotted #7f7f7f; margin-bottom: 5px; }
#history { border-top: 1px dotted #7f7f7f; float: left; background: transparent url(/i/screen/about/history-bg2.gif) no-repeat 0 60px; min-height: 1000px; position: relative; width: 380px; border-right: 1px dotted #7f7f7f; padding: 0 20px 0 0; }
    #history hgroup h1 { float: left; }
    #history hgroup p { float: right; margin-top: 2em; text-transform: lowercase; font-style: italic; padding-right: 77px; background: transparent url(/i/screen/about/linkedin.png) no-repeat right -18px; position: relative; top: 1px; }
        #linkedin span { position: relative; top: 1px; }
        #linkedin a { background-image: url(/i/screen/about/linkedin.png); width: 72px; height: 18px; position: absolute; right: 0; top: 0; border: none; opacity: 0; }
        #linkedin a:hover, #linkedin a:focus { opacity: 1; }
    #history th { text-transform: uppercase; font: bold 14px 'Trebuchet MS', Arial, sans-serif; position: absolute; padding-top: 1.2em; left: 26px; text-align: center; width: 120px; opacity: 0.4; }
    #history td { position: absolute; left: 180px; }
    #history td a, #history td span { display: block; border: none; }    
        #tmx th, #tmx td { top: 100px; }
            #tmx a { background-image: url(/i/screen/about/tmx.png); width: 108px; height: 32px; }
        #ei th, #ei td { top: 240px; }
            #ei a { background-image: url(/i/screen/about/ei.png); width: 187px; height: 39px; }
        #pixelworthy th, #pixelworthy td { top: 375px; }
            #pixelworthy span { background-image: url(/i/screen/about/pixelworthy.png); width: 156px; height: 17px; position: relative; top: 4px; }
        #hc th, #hc td { top: 505px; }
            #hc a { background-image: url(/i/screen/about/hc.png); width: 144px; height: 29px; }
        #bss th, #bss td { top: 636px; }
            #bss a { background-image: url(/i/screen/about/bss.png); width: 122px; height: 17px; }
        #superfriendly th { top: 772px; }
		#superfriendly td { top: 757px; }
            #superfriendly a { background-image: url(/i/screen/about/superfriendly.png); width: 152px; height: 56px; }
		
#facts { margin-left: 400px; width: 205px; border-top: 1px dotted #7f7f7f; padding: 0 10px; }
    div[id^="fact-"] { border-top: 1px dotted #7f7f7f; }
    div[id^="fact-"]:first-child { border: none; }
    #fact-four24 { height: 185px; background: transparent url(/i/screen/about/fact-four24.png) no-repeat 50% 50%; position: relative; }
        #fact-four24 a { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: transparent url(/i/screen/about/fact-four24-over.png) no-repeat 131px 122px; opacity: 0; border: none; }
        #fact-four24 a:hover, #fact-four24 a:focus { opacity: 1; }
    #fact-soda { /*height: 173px; height: 200px;*/ background: transparent url(/i/screen/about/fact-soda.png) no-repeat 10px 20px; position: relative; }
        #fact-soda dd { position: absolute; top: 68px; left: 80px; font: bold 50px 'Trebuchet MS', Arial, sans-serif; color: #231f20; }
        #fact-soda .hey-look { padding-top: 170px; text-transform: uppercase; text-align: center; }
    #fact-hair { height: 250px; background: transparent url(/i/screen/about/fact-hair.png) no-repeat 50% 50%; }

/*-------------------------------------------    
    Contact
-------------------------------------------*/
#contact-landing .main, #thanks-landing .main { width: 550px; border: none; border-right: 1px dotted #7f7f7f; padding: 0 30px 0 0; position: relative; }
    #contact-landing .main header h1 { background-image: url(/i/screen/contact-dan-headline.png); width: 488px; height: 63px; margin: 0 0 15px; }
    
#contact-landing .sub, #thanks-landing .sub { width: 170px; padding: 0 0 0 30px; }
    #contact-landing .sub header h1 { background-image: url(/i/screen/find-me-elsewhere.png); width: 147px; height: 14px; margin: 25px 0 15px; }
    #contact-landing .sub ul { margin: 0 0 3em; }
    #contact-landing .sub li { margin: 0 0 1em; }
        #contact-landing .sub li a { display: block; border: none; padding-left: 25px; min-height: 16px; font-style: italic; transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; -o-transition: all 0.25s ease-out; }
        #contact-landing .sub li a:link, #contact-landing .sub li a:visited { color: #686868; }
        #contact-landing #twitter a { background: transparent url(/i/screen/twitter_16.png) no-repeat 0 center; }
        #contact-landing #dribbble a { background: transparent url(/i/screen/dribbble_16.png) no-repeat 0 center; }
        #contact-landing #flickr a { background: transparent url(/i/screen/flickr_16.png) no-repeat 0 center; }
        #contact-landing #cargo a { background: transparent url(/i/screen/cargo_16.png) no-repeat 0 center; }
        #contact-landing #forrst a { background: transparent url(/i/screen/forrst_16.png) no-repeat 0 center; }
        #contact-landing #linkedin a { background: transparent url(/i/screen/linkedin_16.png) no-repeat 0 center; }
        #contact-landing #readernaut a { background: transparent url(/i/screen/readernaut_16.png) no-repeat 0 center; }
        
        #contact-landing .sub li a:hover, #contact-landing .sub li a:focus { background-position: 3px center !important; color: #000; }
        
    #contact-landing .sub small { border-top: 1px solid #e5e5e5; padding: 2em 0 0; }
    #contact-landing .sub small:before { content: "* "; }

#contact-landing div.error { background: #fff9b9 url(/i/screen/error.png) no-repeat 15px 1em; border: 1px solid #ffeb12; font-style: italic; padding: 1.5em 10px 1.5em 60px; margin: 0 0 1.5em; min-height: 25px; }
    #contact-landing p:last-child { margin-bottom: 0; }

/*-------------------------------------------    
    Thanks
-------------------------------------------*/   
#thanks-landing .main { min-height: 400px; }
    #thanks-landing .main header h1 { background-image: url(/i/screen/thanks.png); width: 330px; height: 62px; margin: 0 0 15px; }     
    
    
/*-------------------------------------------    
    RIF Nav
-------------------------------------------*/
.rif-nav { background: #222; padding: 2em 0; }
    .rif-nav .inner { width: 700px; margin: 0 auto; }
    .rif-nav .section-header { font-family: "adelle", Georgia, 'Times New Roman', serif; font-weight: 300; color: #bbb; text-align: center; font-size: 24px; font-style: italic; line-height: 1.3; margin: 0 0 2em; }
        .rif-nav .section-header strong { color: #ddd; font-weight: normal; font-style: normal; }
    .rif-nav .category-header { color: #555; font-family: "proxima-nova", Helvetica, Arial, sans-serif; font-weight: 600; text-transform: uppercase; font-size: 24px; }
    .rif-nav .col50 { float: left; width: 48%; }
    .rif-nav .col50-first { margin-right: 4%; }
    .rif-nav ul { margin-left: 20px; }
        .rif-nav li { font-size: 16px; color: #999; }
    
    .rif-nav a { color: #fe0; border: none; }
    .rif-nav a:hover, .rif-nav a:focus { color: #fff; }
    
    
    
    
    
    