/*
*************************************************

DANIELMALL.COM
Enhanced Screen Styles
Styles that only apply when JavaScript is enabled

Created by the ridiculous Dan Mall
http://www.danielmall.com/

*************************************************



/*-------------------------------------------        
    
    Z-INDEX
    
    2           #clients-headline1
    1           #clients-headline2
    
-------------------------------------------*/





/*-------------------------------------------    
    General Selectors
-------------------------------------------*/




/*-------------------------------------------    
    Global combinations
-------------------------------------------*/
/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.carbonad:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }



/*-------------------------------------------    
    Reusable Elements
-------------------------------------------*/

        

/*-------------------------------------------    
    Basic Structure
-------------------------------------------*/


/*-------------------------------------------    
    Carbon Ads
-------------------------------------------*/
.carbonad { background: none !important; border: none !important; height: auto !important; margin: 0 0 2em; }
.carbonad-text { height: auto !important; margin-left: 0 !important; font-family: Georgia, 'Times New Roman', serif !important; margin: 0 0 1em; }
.carbonad-image, .carbonad-tag { margin: 0 !important; font-family: Georgia, 'Times New Roman', serif !important; }
.carbonad a:hover, .carbonad a:focus { color: #73ae08 !important; }




/*-------------------------------------------    
    Home page
-------------------------------------------*/
#tweet h1 { background-image: url(/i/screen/latest-tweets.png); }

#tweets li { width: 180px; }
#tweets p { margin-bottom: 0.75em; }

#tooltip { position: absolute; z-index: 3000; border: none; background: rgba(38, 34, 35, 0.9); padding: 15px; width: 220px; }
    #tooltip h1 { color: #fff; margin: 0; }
    #tooltip p { color: rgba(255, 255, 255, 0.6); font-style: italic; font-size: 13px; margin-bottom: 0.5em; }

#tooltip h3, #tooltip div { margin: 0; }

#home #work, #home #latest-articles, #home #tweet { opacity: 0; }

.animation-container { width: 0; opacity: 0; }

#roles { display: none; }

#master-roles { position: absolute; top: 95px; }
    #master-roles-mask { position: absolute; background: #fff; top: 95px; }



/*-------------------------------------------    
    Work
-------------------------------------------*/
#work-landing #clients { padding-top: 70px; }

#clients-headline1 { z-index: 2; }
#clients-headline2 { z-index: 1; }

#work-landing .mask-wrapper { position: absolute; top: 20px; width: 130px; }
    #work-landing .mask { background: #fff; right: 0; top: -5px; position: absolute; height: 40px; width: 0; }
    #clients-headline2 .mask { width: 130px; }
    
#work-landing .projects li { opacity: 0; }
    
#project-header .page-title, .project-subtitle, .browser-chrome-wrap, .project-image, #facebook-like { opacity: 0; }
    

/*-------------------------------------------    
    Articles
-------------------------------------------*/
#dsq-pagination, #dsq-sort-by, #dsq-global-toolbar { display: none; }

/*#dsq-content .dsq-avatar { left: -10px !important; }*/

.dsq-post-tools, .dsq-textarea-background { background: #f5f5f5 !important; border-radius: 0 !important; border: none !important; -webkit-box-shadow: none !important; }

.dsq-post-tools { background: none !important; }

.dsq-post-tools .dsq-post-as .dsq-button { top: 40px !important; }

#dsq-content { margin-top: -40px; }
    #dsq-content h3 { position: relative !important; top: -8px; color: #231f20; font-weight: normal; font-size: 16px; }
    #dsq-content #dsq-reply h3 { top: 0; border-top: 10px solid #231f20; padding-top: 0.5em; }
        #dsq-num-posts { color: #fff; position: absolute; top: 0; left: 0; }
        #dsq-num-posts:after { content: " comments"; }

.dsq-comment { border-top: 1px dotted #7f7f7f; padding: 1.5em 0 !important; }
.dsq-comment:first-child { border-top: none; padding-top: 0 !important;}
    .dsq-comment-header { background: none !important; border: none !important; padding: 0 !important; }
    .dsq-commenter-name { font: bold 16px 'Trebuchet MS', Arial, sans-serif; }
    .dsq-comment-body { padding-left: 56px !important; }
    
    .dsq-post-tools .dsq-post-as .dsq-button { display: inline-block; border-radius: 4px !important; background: #231f20 !important; color: #fff !important; text-transform: uppercase; padding: 0.5em 13px !important; font-family: 'Trebuchet MS', Arial, sans-serif; border: none !important; box-shadow: none !important; -webkit-box-shadow: none !important; text-shadow: none !important; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear;}
    .dsq-post-tools .dsq-post-as .dsq-button:hover { background: #73ae08 !important; }


#dsq-account-dropdown { position: relative; top: 2.5em; z-index: 10; }

#article-landing .main { position: relative; left: -75px; }

.meta .comments { width: 300px; }





/*-------------------------------------------    
    About
-------------------------------------------*/

#friends { border-top: 1px dotted #7f7f7f; padding-top: 10px; }

#about-landing #carbonads-container { margin-top: 5px; }


/*-------------------------------------------    
    Contact
-------------------------------------------*/

#contact-form { position: relative; }
#all-ears-container { display: none; position: absolute; right: -15px; top: 11em; top: 0; } 
    #all-ears-container img { float: none; margin: 0; width: 200px; }