#article-area-wrap { background: #f8f9fa; color: #7b7d83; font: normal 16px/1.6 'Muli', Helvetica, Arial, sans-serif; }

	#sketchlive {  }

	#sketchlive p,
	#sketchlive ul {
		font: normal 16px/1.6 'Muli', Helvetica, Arial, sans-serif;
	}

	#sketchlive ul {
		margin-left: 20px;
		font-size: 14px;
	}

		#sketchlive li {
			margin: 0 0 0.5em;			
		}

			#sketchlive li strong {
				font-weight: normal;
				color: #333;
			}

	#sketchlive a {
		color: #1e548b;
		border-style: solid;
		border-color: transparent;
	}

	#sketchlive a:hover,
	#sketchlive a:focus {
		border-bottom: 1px solid #1e548b;
	}

	#sketchlive h2 {
		text-align: center;
		color: #0f355b;
		font: normal 23px 'Muli', Helvetica, Arial, sans-serif;
	}

	#sketchlive .inner {
		width: 95%;
		max-width: 728px;
		margin: 0 auto;
	}

	#sketchlive .article-header {
		background: #0a1f36 url(rainbow.png) repeat-x 0 bottom;
		padding: 3em 0 120px;
		margin: 0 0 4em;
		position: relative;
	}

	#sketchlive .article-header:after {
		content: "";
		background: transparent url(diamond.png) no-repeat 0 0;
		width: 195px;
		height: 166px;
		position: absolute;
		left: 50%;
		bottom: -40px;
		margin-left: -97px;
	}

		#sketchlive .article-header .inner {
			max-width: 836px;
		}

		#sketchlive .entry-title {
			color: #fff;
			font: normal 60px 'Muli', Helvetica, Arial, sans-serif;
			text-align: center;
		}

		#sketchlive .article-header p {
			color: #8a8e94;
			text-align: center;
			font-size: 24px;
		}

		#sketchlive .article-header a {
			color: #fff;
			border-style: solid;
			border-color: transparent;
		}

		#sketchlive .article-header a:hover, 
		#sketchlive .article-header a:focus {
			border-bottom: 1px solid #d6ab06;
		}
		
		
	#sketchlive a.green:hover,
	#sketchlive a.green:focus {
		border-bottom-color: #228c37;
	}

	#sketchlive a.yellow:hover,
	#sketchlive a.yellow:focus {
		border-bottom-color: #d8ad06;
	}

	#sketchlive a.orange:hover,
	#sketchlive a.orange:focus {
		border-bottom-color: #d86c06;
	}

	#sketchlive a.red:hover,
	#sketchlive a.red:focus {
		border-bottom-color: #c23815;
	}

#sketchlive ::selection { background: #292829; color: #fff; }
#sketchlive ::-moz-selection { background: #292829; color: #fff; }


