#article-area-wrap { background: #dd5903 url(bg.png) repeat-x 0 0; min-height: 600px; }

#now-i-have-rss { width: 800px; margin: 0 auto; padding-top: 80px; }
    #now-i-have-rss img { float: none; margin: 0; }
    #now-i-have-rss h1 { background-image: url(headline.png); width: 320px; height: 42px; margin: 25px auto 20px; }
    #now-i-have-rss p { font: 14px Georgia, 'Times New Roman', serif; font-style: italic; text-align: center; }
    #now-i-have-rss a { color: #fff; text-decoration: none; border-bottom: 1px solid rgba(255, 255 255, 0.5); }
    #now-i-have-rss a:hover, #now-i-have-rss a:focus { border-bottom: 1px solid rgba(255, 255, 255, 1); }
    
    #now-i-have-rss small { background-image: url(footnote.png); width: 222px; height: 14px; margin: 400px auto 250px; }