html { font-size: 62.5%; }

#article-area-wrap { background: #fff; padding-bottom: 0; }

/* Thanks, Paul: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements */
#visual-inventory *, #visual-inventory *:before, #visual-inventory *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

#visual-inventory { padding: 0; width: 100%; }

	/*#visual-inventory a { color: #fff; position: relative; text-decoration: none; border: none; }
	#visual-inventory a:after { content: ""; display: block; height: 1px; width: 100%; bottom: -0.2em; left: 0; background: rgba(255, 255, 255, 0.1); position: absolute; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
	#visual-inventory a:hover:after, #visual-inventory a:focus:after { bottom: 0; background: rgba(255, 255, 255, 0.8); }*/

	#visual-inventory a { color: #fff; border-bottom: 1px solid rgba(255, 255, 255, 0.5); transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
	#visual-inventory a:hover, #visual-inventory a:focus { border-bottom: 1px solid rgba(255, 255, 255, 1); }

	/* dark links */
	/*#visual-inventory .dark70 a { color: #111; }
	#visual-inventory .dark70 a:after { background: rgba(0, 0, 0, 0.1); }
	#visual-inventory .dark70 a:hover:after, #visual-inventory .dark70 a:focus:after { background: rgba(0, 0, 0, 0.8); }*/
	#visual-inventory .dark70 a { color: #000; border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
	#visual-inventory .dark70 a:hover, #visual-inventory .dark70 a:focus { border-bottom: 1px solid rgba(0, 0, 0, 1); }


	/* =========== SELECTORS ============= */
	
	#visual-inventory h1, #visual-inventory h2, #visual-inventory p, #visual-inventory ul, #visual-inventory ol { font: 16px/1.5 Helvetica, Arial, sans-serif; }
	#visual-inventory h1 { font-weight: bold; font-size: 36px; color: #fff; line-height: 1; }
	#visual-inventory h2 { font-size: 24px; color: #fff; line-height: 1.2; }
		#visual-inventory h2 a { color: #fff; }
	#visual-inventory ul, #visual-inventory ol { margin-left: 25px; }


	/* =========== REUSABLE ============= */

	#visual-inventory .lightText, #visual-inventory .lightText p, #visual-inventory .lightText ul { color: #fff; }
	#visual-inventory .light70 { color: rgba(255, 255, 255, 0.7); }
	#visual-inventory .dark70 { color: rgba(0, 0, 0, 0.7); }

	#visual-inventory .button { font: bold 40px Helvetica, Arial, sans-serif; text-transform: none; letter-spacing: 0; border-radius: 0; background: #fecf12; color: #000; text-align: center; margin: 0 auto 1em; display: block; width: 80%; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
	#visual-inventory .button:hover, #visual-inventory .button:focus { background: #d5fe16; }
		#visual-inventory .button-meta { font-size: 50%; color: rgba(0, 0, 0, 0.5); }

	#visual-inventory .rwd-break { display: none; }


	/* =========== SPECIFIC ============= */

	#visual-inventory .article-title { background: #d41c0e; padding: 4em 2.5% 1em; }
	#visual-inventory .article-subtitle { background: #e45605; padding: 2em 2.5% 1em; }
		#visual-inventory .article-subtitle a:after { background: rgba(255, 255, 255, 0.5); }

	#visual-inventory #intro { background: #1a2526; padding: 2em 2.5% 1em; }

	#visual-inventory #impact { background: #f2b950; padding: 2em 2.5% 1em; }

	#visual-inventory #scratch-intro, #visual-inventory #scratch { background: #8a919a; padding: 2em 2.5% 1em; }
		#visual-inventory .illustrate-vi { background: transparent url(vi.jpg) no-repeat 50% 0; padding-top: 670px; }

	#visual-inventory #garrett { background: #ff9000; padding: 2em 2.5% 1em; }

	#visual-inventory #sifter-visual-inventory { background: #72123d; padding: 2em 2.5% 1em; }

	#visual-inventory #garrett-feedback { background: #024059; padding: 2em 2.5% 1em; }

	#visual-inventory #sifter-actions { background: #03738c; padding: 2em 2.5% 1em; }

	#visual-inventory #try { background: #f2cea2; padding: 2em 2.5% 1em; }

	#visual-inventory #download { background: #fff; padding: 4em 2.5% 4em; }
		#visual-inventory #download p { font-size: 13px; }

	
	
	
	
		
#visual-inventory ::selection { background: #585858; color: #fff; }
#visual-inventory ::-moz-selection { background: #585858; color: #fff; }

@media screen and (min-width: 800px){ 
	#visual-inventory .chunk { float: left; }
	#visual-inventory .chunk30 { width: 30%; }
	#visual-inventory .chunk50 { width: 50%; }
	#visual-inventory .chunk70 { width: 70%; }

	#visual-inventory .rwd-break { display: block; }
	#visual-inventory .eq-h { display: flex; width: 100%; }
	/*#visual-inventory .flex { width: 50%; }*/

	#visual-inventory .article-title { font-size: 67px; height: 40rem; position: relative; padding: 0; }
		#visual-inventory .article-title h1 { position: absolute; left: 2rem; bottom: 2rem; }
	#visual-inventory .article-subtitle { height: 40rem; position: relative; padding: 0; }
		#visual-inventory .article-subtitle h2 { position: absolute; left: 2rem; bottom: 2rem; width: 90%; }

}