#visual-inventory h1, #visual-inventory h2, #visual-inventory p, #visual-inventory ul, #visual-inventory ol, .terms-list li, .terms-back, #visual-inventory .button { font-family: 'lft-etica'; }

#visual-inventory strong { font-weight: 600; }

#visual-inventory .button { letter-spacing: -1px; }
		#visual-inventory .button-meta { letter-spacing: 0; }

@media screen and (min-width: 800px){ 
	#visual-inventory .article-title { letter-spacing: -2px; }
}