#article-area-wrap { background: #fff; }

#on-creative-direction { width: 94%; margin: 0 auto; padding: 5em 0; }
	#on-creative-direction p { font-size: 20px; color: #333; }
	#on-creative-direction ul, #on-creative-direction ol { font-size: 16px; }
	#on-creative-direction li { margin: 0 0 0.9em 25px; position: relative; color: #333; }
		#on-creative-direction ul li:before { content: ""; position: absolute; top: 0.5em; left: -20px; width: 8px; height: 8px; background: #2dd36a; border-radius: 3px; }
	#on-creative-direction a { color: #d22c95; }

	#on-creative-direction .article-header { margin: 0 0 6em; }

	#on-creative-direction .intro:first-line { font-weight: bold; }
	#on-creative-direction .initial { display: none; }

	#on-creative-direction .footnote-link { font-size: 80%; position: relative; top: -0.5em; margin: 0 0.25em; }

	#on-creative-direction .video-container { margin-bottom: 1.5em; }

	#on-creative-direction .pullquote { background: #d22c95; border-radius: 7px; padding: 2em; margin: 0 0 2em; }
		#on-creative-direction .pullquote p { color: #fff; font: bold 23px Helvetica, Arial, sans-serif; margin: 0; font-style: normal; }

		#on-creative-direction .article-header-title, #on-creative-direction .article-header-subtitle { margin: 0 0 0.1em; text-align: center; }
		#on-creative-direction .article-header-title { line-height: 1; font: 40px 'Times New Roman', serif; }
			#on-creative-direction .article-header-title-snippet { display: block; font-weight: normal; text-transform: uppercase; }
			#on-creative-direction .clip { overflow: hidden; height: 0.83em; }
			#on-creative-direction .preposition { background: #d22c95; font: bold 15px Helvetica, Arial, sans-serif; display: inline-block; color: #fff; padding: 0.5em 1em; border-radius: 5px; }

		#on-creative-direction .article-header-subtitle { font: bold 17px Helvetica, Arial, sans-serif; color: #b1bab4; }
	
		
#on-creative-direction ::selection { background: #585858; color: #fff; }
#on-creative-direction ::-moz-selection { background: #585858; color: #fff; }

@media screen and (min-width: 500px){
	#on-creative-direction { max-width: 650px; }
	#on-creative-direction .pullquote { float: right; width: 30%; margin-left: 5%; }
		#on-creative-direction .pullquote p { font-size: 16px; }
}