#article-area-wrap { background: #fdfdfd; font: 18px/1.5 Georgia, 'Times New Roman', serif; padding: 50px 0 3em; }

#how-to-build-an-app { margin: 0 auto; width: 639px; padding: 175px 0 2em 275px; background: transparent url(iphone-arbitrary.png) no-repeat 0 0; }

    #how-to-build-an-app h1 { font-size: 45px; color: #464646; letter-spacing: -1px; margin: 0; line-height: 1; }
    #how-to-build-an-app p { font-size: 18px; color: #464646; }        
    #how-to-build-an-app a { background: #f9fc7e; color: #464646; border: none; }
    #how-to-build-an-app a:hover, #how-to-build-an-app a:focus { background: #fdfdfd; color: #000; }

    #how-to-build-an-app .tumblr-url { color: #aaa; }
    #how-to-build-an-app .last { background: transparent url(iphone-superfriendly.png) no-repeat 100% 100%; padding-bottom: 320px; }

    #how-to-build-an-app .jitter { position: relative; }
		
		
/*#how-to-build-an-app ::selection { background: #49c8c8; color: #fff; }
#how-to-build-an-app ::-moz-selection { background: #49c8c8; color: #fff; }*/

#how-to-build-an-app p:nth-child(even)::selection { background: #49c8c8; color: #fff; }
#how-to-build-an-app p:nth-child(even)::-moz-selection { background: #49c8c8; color: #fff; }

#how-to-build-an-app p:nth-child(odd)::selection { background: #ff4000; color: #fff; }
#how-to-build-an-app p:nth-child(odd)::-moz-selection { background: #ff4000; color: #fff; }