.image-row {
	margin: -8em 0 -4em;
	padding: 2em 0;
}
/*
.failure-image,
.skills-image {
	display: none;
}

.vanilla {
	padding-top: 0;
}

.vanilla--first {
	padding-bottom: 0;
	padding-top: 8em;
}
*/

.walmart-image {
	padding-bottom: 0;
	margin-bottom: -8em;
}

/*@media screen and (min-width: 800px){
	.failure-image,
	.skills-image  {
		display: block;
	}

	.vanilla--first {
		padding-bottom: 8em;
	}

	.vanilla {
		padding-top: 8em;
	}
}*/

	.failure-image img,
	.walmart-image img,
	.skills-image img {
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
		display: block;
		float: none;
	}

	.walmart-image img,
	.skills-image img {
		max-width: 1500px;
	}

	.salaries {
		width: 95%;
		width: 100%;
		margin: 0 auto;
		border-bottom: 1px solid #ccc;
	}

		.salaries td,
		.salaries th {
			border-top: 1px solid #ccc;
		}

	.salaries thead,
	.salaries tbody,
	.salaries tfoot,
	.salaries tr {
		width: 100%;
	}

	.salaries th,
	.salaries td {
		width: 33%;
		width: 37.5%;
	}

	.salaries .timeframe {
		width: 25%;
	}

	.row-totals {
		background: #f6f4dc;
		font-weight: bold;
	}

.video-container {
	width: 95%;
	width: 100%;
	max-width: 960px;
	margin: -6em auto;
	/*width: 95%;
	max-width: 960px;
	height: 540px;
	margin: -6em auto;*/
}

.video-container-container {
	background: #000;
	width: 98%;
	margin: 0 auto;
}
