.image-row {
	margin: -8em 0 -4em;
	padding: 2em 0;
}

.failure-image {
	display: none;
}

.vanilla {
	padding-top: 0;
}

.vanilla--first {
	padding-bottom: 0;
	padding-top: 8em;
}

.walmart-image {
	padding-bottom: 0;
	margin-bottom: -8em;
}

@media screen and (min-width: 800px){
	.failure-image  {
		display: block;
	}

	.vanilla--first {
		padding-bottom: 8em;
	}

	.vanilla {
		padding-top: 8em;
	}
}

	.failure-image img,
	.walmart-image img,
	.salaries {
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
		display: block;
		float: none;
	}

	.walmart-image img {
		max-width: 1500px;
	}

	.salaries thead,
	.salaries tbody,
	.salaries tfoot,
	.salaries tr {
		width: 100%;
	}

	.salaries th,
	.salaries td {
		width: 33%;
	}
