/*
*************************************************

DANMALL.ME
Image Object component

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.dm {
	&-c
		{
		&-imageObject {
			@include dm-u-marginTop--m;
			@include dm-u-marginBottom--m;			

			@media screen and (min-width: 690px){
				margin-bottom: $spacing * 10px;
			}

			&:first-child {
				@include dm-u-marginTop--xl;	
			}

			&_image {
				@include dm-u-margin--0;
				@include dm-u-marginBottom--s;
				margin-left: auto;
				margin-right: auto;
			}

		}
	}
}