/*
*************************************************

DANMALL.ME
Page Header component

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.dm {
	&-c {
		&-pageHeader {

			grid-area: dm-c-pageHeader;

			@include dm-u-padding--m;

			&:before {
				@include dm-u-display--block;
				@include dm-u-marginBottom--l;
				@include dm-u-marginLeft--m;

				// seasoning
				content: "";
				background: $silverRust;
				height: 60px;
				width: 3px;
				margin-top: -50px;
			}

			&_title {
				@include dm-u-font--normal;
				@include dm-u-text--xl;
				@include dm-u-marginBottom--xs;
				@include dm-u-leading--s;

				// seasoning
				//color: var(--articlePrimaryColor, $shipGray);

				.breveTitleBold-loaded & {
					font-family: "BreveTitle-Bold";
				}

				&_count {
					@include dm-u-text--m;
					@include dm-u-font--sans;
					@include dm-u-marginLeft--xs;
				}
			}

			&_date {
				@include dm-u-font--sans;
				@include dm-u-text--s;
				@include dm-u-font--normal;
			}

		}
	}
}