#article-area-wrap { background: #000 url(curtains.jpg) no-repeat 50% 0; font: normal 36px Georgia, 'Times New Roman', serif; }

#crowdsourcing-conference-talk { margin: 0 auto; position: relative; padding: 40px 0 300px; background: transparent url(seats.jpg) no-repeat 50% bottom; color: #1a2127; }

	#crowdsourcing-conference-talk .inner { position: relative; width: 800px; margin: 0 auto; }

		.slide { width: 700px; min-height: 312px; position: relative; padding: 60px 50px; background: transparent url(slide.jpg) no-repeat 0 0; text-align: center; }
			.slide p { font-size: 36px; margin: 0 0 1em; }
			.slide small { font-size: 30px; }
			.slide footer, .slide h2, .slide .pagination { color: #818181; text-transform: uppercase; font: 13px Georgia, 'Times New Roman'; letter-spacing: 0.25em; padding: 0; border: none; margin: 0 0 2em; }
			.slide .pagination { border: none; padding: 0; margin: 0; position: absolute; bottom: 2em; width: 800px; text-align: center; left: 0; }
			.slide a { color: #b50000; border: none; text-decoration: underline; }
			.slide a:hover, .slide a:focus { color: #5c6e85; }

		#title h1 { font-size: 60px; margin-top: 20px; }			
		
		#intro p:first-child { margin-top: 80px; }
		
		#attendees p:first-child { margin-top: 80px; }
		
		#speakers p:first-child { margin-top: 80px; }
		
		#change p:first-child { margin-top: 50px; }
		
		#new-adventures p:first-child { margin-top: 40px; }
		
		#help p:first-child { margin-top: 60px; }
		
		#topics h2 { margin-top: 50px; }
		
		#delivery h2 { margin-top: 30px; }
		
		#examples h2 { margin-top: 80px; }
		
#crowdsourcing-conference-talk ::selection { background: #b50000; color: #fff; }
#crowdsourcing-conference-talk ::-moz-selection { background: #b50000; color: #fff; }