#article-area-wrap { background: #fafafa; font: normal 18px/1.8 Georgia, 'Times New Roman', serif; color: #555; padding-bottom: 0; }
.wf-active #article-area-wrap { font-family: "adelle", Georgia, 'Times New Roman', serif; font-weight: 300; }

#rif-design-flexibility { margin: 0 auto; padding: 0 0 50px; }
    
    #rif-design-flexibility hgroup { }
        #rif-design-flexibility h1 { font: bold 126px/0.75 Helvetica, Arial, sans-serif; color: #fe0; text-transform: uppercase; letter-spacing: -3px; margin: 0 0 0.25em; }
        .wf-active #rif-design-flexibility h1 { font-family: "proxima-nova", Helvetica, Arial, sans-serif; letter-spacing: -2px; font-weight: 800; }
        #rif-design-flexibility h2 { color: #4c4c4c; font: bold 24px Helvetica, Arial, sans-serif; text-transform: uppercase; margin: 1em 0; }
        .wf-active #rif-design-flexibility h2 { font-family: "proxima-nova", Helvetica, Arial, sans-serif; font-weight: 800; }
            #rif-design-flexibility h2 strong { color: #fff; font-style: normal; font-weight: normal; }
            .wf-active #rif-design-flexibility h2 strong { font-weight: 300; }
            
    #rif-design-flexibility p, #rif-design-flexibility li { font-size: 18px; line-height: 1.7; }  
    #rif-design-flexibility code, #rif-design-flexibility li { font-size: 16px; }
    .wf-active #rif-design-flexibility blockquote p { font-family: "adelle", Georgia, 'Times New Roman', serif; font-weight: 300; font-style: italic; font-size: 16px; }  
    #rif-design-flexibility a { color: #1f73b7; border: none; }
    #rif-design-flexibility a:hover, #rif-design-flexibility a:focus { background: #fe0; }
    #rif-design-flexibility .inner { width: 700px; padding: 0 100px 0 0; margin: 0 auto; }
    #rif-design-flexibility .hero { background: #222 url(hero.jpg) no-repeat 50% 0; height: 720px; width: 100%; margin: 0 0 3em; }
        #rif-design-flexibility .hero .inner { position: relative; height: 565px; padding-top: 155px; }
            #rif-design-flexibility .hero img { position: absolute; bottom: 155px; left: 0; }
            #rif-design-flexibility .hero h2 { color: rgba(255, 255, 255, 0.8); font: 18px/1 Georgia, 'Times New Roman', serif; font-style: italic; position: relative; top: -20px; text-transform: none; }
            .wf-active #rif-design-flexibility .hero h2 { font-family: "adelle", Georgia, 'Times New Roman', serif; font-weight: 300; }

        
#rif-design-flexibility ::selection { background: #fe0; color: #000; }
#rif-design-flexibility ::-moz-selection { background: #fe0; color: #000; }