/*
*************************************************

DANIELMALL.COM
General Screen Styles

Created by the ridiculous Dan Mall
http://www.danielmall.com/

*************************************************
*/


/*-------------------------------------------    

    COLOR INDEX
    
    
    #231f20                         Dark Grey
    #656262                         Text Color
    #7f7f7f                         Dotted Border
    #f77000                         Link Orange
    #73ae08     (115, 174, 8)       Link Green 
    
    
    
    Z-INDEX
    
    2000        #home #masthead
    4           .projects li:hover
    3           .projects li
    3           #publications .inner article
    2           #work-landing #content
    1           #work-subnav
    1           #p24ways-2010
    
-------------------------------------------*/




/*-------------------------------------------    
    General Selectors
-------------------------------------------*/
* { margin: 0; padding: 0; line-height: 1.5; }
body { font: normal 62.5% Georgia, 'Times New Roman', serif; color: #656262; background: #fff; border-top: 8px solid #231f20; padding-top: 2px; }


/* block level */

h1 { font-weight: normal; font-size: 29px; color: #231f20; margin: 0 0 0.5em; }
ol.articles h1 a { color: #231f20; border-color: #b2b2b2;  }
.comment-list h1 { font: normal 16px 'Trebuchet MS', Arial, sans-serif; color: #231f20; }
h2 { font-family: 'Trebuchet MS', Arial, sans-serif; margin: 0 0 0.5em; color: #231f20; }
h3 {  }
h4 {  }
h5 {  }
h6 {  }

p, ul, dl, ol { font-size: 12px; margin: 0 0 1.5em;  }

dd { /*margin: 0 0 0 15px;*/ }

blockquote { margin: 0 0 1.2em; }

table { }
	tr {  }
	th, td {  }
	

/* inline */

em { font-style: italic; }
strong { font-weight: bold; }

a { color: #73ae08; text-decoration: none; border-bottom: 1px dotted rgba(115, 174, 8, 0.4); transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
a:hover, a:focus { color: #231f20; border-bottom: 1px dotted #7f7f7f; }

img { display: block; margin: 0 0 10px 10px; float: left; }

a img { border: none; }

abbr { font-size: 90%; letter-spacing: 0.25em;  }

form { margin: 0 0 1em; }
    form > div { margin: 0 0 2em; position: relative; padding-bottom: 2em; }
    div.options > div { margin-bottom: 0.25em; }
    input[type="text"], textarea { font: 12px 'Trebuchet MS', Arial, sans-serif; color: #626262; background-color: #f5f5f5; border: 1px solid #fff; padding: 5px; } 
    input:focus, textarea:focus { background-color: #fdfdfd; border-right: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; }
    input[type="checkbox"] { margin-right: 0.5em; }
    label { display: block; font: 11px 'Trebuchet MS', Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.1em; color: #aaa; margin: 0 0 0.25em; position: absolute; bottom: 0; }
        label em { font-family: Georgia, 'Times New Roman', serif; font-style: italic; text-transform: none; letter-spacing: 0; }
    input[type="checkbox"] + label { display: inline; position: static; } 
    input.button { transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; outline: none; border: none; }

code { /*font: 12px/1 'Courier New', Courier, monospace;*/ }

sub, sup { line-height: 0; }

header, footer, nav, section, article, mark, hgroup { display: block; }



/*-------------------------------------------    
    Global combinations
-------------------------------------------*/

/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
#masthead nav a, #masthead mark, li[id^="year"] h2, #work-subnav a, #work-subnav mark, #work .breadcrumbs a, .phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ #masthead nav a, #work-subnav a, .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
#tweets ul:after, .easy-clearing:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen, .pagination b, #fowd2010 .rotator li, #flashpitt2009 .rotator li  { position: absolute; left: -9999px; }

.real-hide { display: none; }

#tweets ul, .projects, .no-marker { list-style: none; }


/*-------------------------------------------    
    Reusable Elements
-------------------------------------------*/
.main { width: 560px; float: right; border-left: 1px dotted #7f7f7f; }

ol.articles > li, #tweets li { padding: 1.25em 40px 0; border-top: 1px dotted #7f7f7f; }

.meta { font: 78% 'Trebuchet MS', Arial, sans-serif; margin: 0; text-transform: uppercase; letter-spacing: 0.25em; color: #a2a2a2; width: 100%; }
ol.articles .meta, #tweets .meta { position: relative; left: -10px; }
    .meta li { float: left; border-left: 1px solid #e5e5e5; }
    .meta li:first-child { border: none; }
        .meta a { color: #a2a2a2; border: none; display: block; }
        .meta a:hover, .meta a:focus { color: #73ae08; }
    .categories, .meta a { padding: 0.75em 10px; }
        .categories a { display: inline; padding: 0; }
        .categories a:hover, .categories a:focus { color: #73ae08; }
        
.pagination { font-family: 'Trebuchet MS', Arial, sans-serif; margin: 0; border-top: 1px dotted #7f7f7f; padding: 1em 0 1em  40px; font-size: 14px; }
    .pagination li { float: left; margin: 0 3px 0 0; }
        .pagination a, .pagination mark { display: block; border: none; padding: 0.26em 10px; color: #fff; background: #e7e7e7; border-radius: 2.5em; -moz-border-radius: 2.5em; -webkit-border-radius: 2.5em; }
        .pagination a:hover, .pagination a:focus { background: #f77000; }
        .pagination mark { background: #231f20; }
        
/*#fusion { width: 130px; border-bottom: 1px dotted #7f7f7f; margin: 0 0 2em; }
    #fusion img { float: none; margin: 0; }
    .fusiontext a { color: #656262; border: none; font-size: 11px; margin: -0.5em 0 0.5em; display: block; }
    a.powered { font-family: Georgia, 'Times New Roman', serif; color: #aeaeae; font-style: italic; border: none; font-size: 11px; position: relative; top: -1em; }*/
    
.comment-list { font: 12px 'Trebuchet MS', Arial, sans-serif; }    
    .comment-list header { position: relative; padding: 1.5em 0 0; }
        .comment-list header time { position: absolute; top: 0; }
        .comment-list header time a { color: #cfcfcf; font-size: 11px; font-weight: bold; text-transform: uppercase; letter-spacing: 0.1em; border: none; }
        .comment-list header time a:hover, .comment-list header time a:focus { color: #aaa; }
    .comment-list li { padding: 1em 10px 0 60px; border-bottom: 1px dotted #7f7f7f; position: relative; }
        .comment-list p { font-size: 12px; }
        .gravatar { position: absolute; top: 0; left: -60px; float: none; margin: 0; }
        
.main, .sub { float: left; }

.work-meta dt { font: 14px 'Trebuchet MS', Arial, sans-serif; color: #cecece; text-transform: uppercase; letter-spacing: 0.1em; }
.work-meta dd { font-style: italic; }

.work-row { border-bottom: 1px dotted #7f7f7f; }
.work-row:last-child { border-bottom: 0; }    
    .work-row .inner { width: 400px; margin: 0 auto; padding: 3em 0 3em 400px; position: relative; }
    .work-row .inner:before { content: ""; display: block; position: absolute; left: 0; top: 0; }
    .work-row .inner article { position: relative; z-index: 3; }

.work-row .more a, .button { display: inline-block; border-radius: 4px; background: #231f20; color: #fff; text-transform: uppercase; padding: 0.5em 13px; font-family: 'Trebuchet MS', Arial, sans-serif; }
.work-row .more a:hover, .work-row .more a:focus, .button:hover, .button:focus { background: #73ae08; }
        

/*-------------------------------------------    
    Basic Structure
-------------------------------------------*/
#masthead-wrap { border-top: 1px solid #231f20; border-bottom: 1px solid #bdbdbd; margin: 0 0 30px; }
#article #masthead-wrap, #about-landing #masthead-wrap { margin-bottom: 0; }
    #masthead { width: 800px; margin: 0 auto; height: 40px; position: relative; }
    #home #masthead { height: 128px; z-index: 2000; }
        #masthead h1 { background: transparent url(/i/screen/logo-bg-over2.png) no-repeat 0 0; width: 86px; height: 69px; position: absolute; top: -11px; left: -8px; }
        #home #masthead h1 { background-image: url(/i/screen/home-logo2.png); width: 407px; height: 120px; top: 15px; left: -145px; }
            #masthead h1 a { background: transparent url(/i/screen/back-home.gif) no-repeat 80px 22px; width: 259px; height: 49px; position: absolute; top: 0; left: 0; border: none; opacity: 0; transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -webkit-transition-timing-function: ease-out; }
            #masthead h1 a:hover, #masthead h1 a:focus { opacity: 1; background-position: 90px 22px; }
    
    #masthead nav ul { width: 283px; height: 12px; background: transparent url(/i/screen/nav2.gif) no-repeat 0 0; position: absolute; top: 13px; right: 0; }
    #home #masthead nav ul { width: 330px; height: 14px; background-image: url(/i/screen/home-nav2.gif); top: 72px; }
        #masthead nav a, #masthead mark { border: none; height: 32px; position: absolute; top: -10px; opacity: 0; background-position: 10px 10px; }
        #home #masthead nav a { height: 34px; background-position: 10px 10px; top: -10px; }
        #masthead nav a:hover, #masthead .current a, #masthead mark { opacity: 1; }
        #nav-work a, #nav-work mark { background-image: url(/i/screen/nav-work2.gif); width: 57px; left: -10px; }
        #home #nav-work a { background-image: url(/i/screen/home-nav-work2.gif); width: 66px; left: -10px; }
        #nav-articles a, #nav-articles mark { background-image: url(/i/screen/nav-articles2.gif); width: 71px; left: 61px; }
        #home #nav-articles a { background-image: url(/i/screen/home-nav-articles2.gif); width: 85px; left: 71px; top: 1px; }
        #nav-about a, #nav-about mark { background-image: url(/i/screen/nav-about2.gif); width: 60px; left: 147px; }
        #home #nav-about a { background-image: url(/i/screen/home-nav-about2.gif); width: 71px; left: 171px; }
        #nav-contact a, #nav-contact mark { background-image: url(/i/screen/nav-contact2.gif); width: 69px; left: 222px; }
        #home #nav-contact a { background-image: url(/i/screen/home-nav-contact2.gif); width: 84px; left: 256px; }
    
.wrap { width: 800px; margin: 0 auto; }

footer { border-top: 1px solid #d3d2d2; border-bottom: 16px solid #231f20; margin-bottom: 50px; padding: 1em 0 1.5em; font-family: 'Trebuchet MS', Arial, sans-serif; clear: both; }
    footer ul { margin: 0; }
    #home footer { margin: 0 auto; width: 800px; border: none; padding: 40px 0 4em; }
        footer li { display: inline; margin: 0 20px 0 0; font-size: 11px; }
            footer a { color: #656262; border-bottom: 1px dotted #656262; }
            footer a:hover { border-bottom-style: solid; }



/*-------------------------------------------    
    Home page
-------------------------------------------*/

#home #masthead-wrap { margin-bottom: 0; }

#roles { position: absolute; top: 95px; font: 14px 'Trebuchet MS', Arial, sans-serif; color: #929090; text-transform: uppercase; letter-spacing: 0.1em; }
    #roles li { display: none; }
    #roles li:before { content: "/"; opacity: 0.5; padding: 0 7px 0 3px; }
    #roles li:first-child:before { content: ""; padding: 0; }
    #roles li:nth-child(1), #roles li:nth-child(2) {  display: inline-block; }

.home-row { height: 200px; width: 100%; background: #f7f7f7; border-bottom: 1px solid #dedede; overflow: hidden; position: relative; border-top: 4px solid transparent; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
.home-row:hover { overflow: visible; z-index: 100; background: #fff; border-top: 4px solid #fff; }
.home-row:hover + .home-row { border-top: 4px solid rgba(0, 0, 0, 0.02); }
    .home-row .inner { width: 800px; margin: 0 auto; position: relative; }
    .home-row ul { margin: 0; }
    .home-row h1 { position: absolute; top: 30px; left: 0; width: 80px; height: 40px; }
    #home #work h1 { background-image: url(/i/screen/home-featured-work.png); }
    #home #latest-articles h1 { background-image: url(/i/screen/home-latest-articles.png); }
    #home #links h1 { background-image: url(/i/screen/home-links.png); }
    .home-round-item { position: absolute; }
        .home-round-item a { width: 217px; height: 217px; border-radius: 217px; transition: all 0.1s ease-in; -moz-transition: all 0.1s ease-in; -webkit-transition: all 0.1s ease-in; -o-transition: all 0.1s ease-in; transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; background-position: center center; border: none; }
        .home-round-item a:hover, .home-round-item a:focus { width: 225px; height: 225px; border-radius: 225px; margin-left: -4px; margin-top: -4px; }
    .home-row .more { position: absolute; left: 0; top: 70px; }
    #home #links .more { top: 50px; }

#home #links { height: auto; }    
    #home #links .inner, #tweet .inner { padding: 30px 0 0 160px; width: 640px; }
        #home #links .articles li, #tweets li { width: 130px; padding: 0 30px 20px 0; float: left; border: none; }



/*-------------------------------------------    
    Work
-------------------------------------------*/
#the-work h1 { background-image: url(/i/screen/the-work.gif); width: 668px; height: 106px; margin: 50px auto 10px; }
#the-work h2 { text-align: center; font-weight: normal; font-size: 12px; margin-bottom: 50px; } 

#work-landing #content { border-top: 1px dotted #7f7f7f; position: relative; z-index: 2; }

    #work-subnav { width: 391px; height: 42px; position: relative; margin: 0 auto -1px; background: transparent url(/i/screen/work-subnav2.png) no-repeat 0 0; z-index: 1; }
        #work-subnav li { position: absolute; top: 0; }
            #work-subnav a, #work-subnav mark { border: none; height: 42px; opacity: 0; background: transparent url(/i/screen/work-subnav2.png) no-repeat 0 0; }
            #work-subnav mark { opacity: 1; }
            #work-subnav a:hover, #work-subnav a:focus { opacity: 1; }
        #work-portfolio { left: 0; }
            #work-portfolio a { width: 89px; background-position: 0 -42px; }
            #work-portfolio mark { width: 89px; background-position: 0 -84px; }
        #work-speaking { left: 93px; }
            #work-speaking a { width: 180px; background-position: -93px -42px; }
            #work-speaking mark { width: 180px; background-position: -93px -84px; }
        #work-publications { left: 277px; }
            #work-publications a { width: 114px; left: 0; background-position: -277px -42px; }
            #work-publications mark { width: 114px; left: 0; background-position: -277px -84px; }

    #work-browser { float: right; width: 650px; border: none; }
        .projects li { position: absolute; z-index: 3; }
        .projects li:hover { z-index: 4; }        
            .projects a { display: block; width: 180px; height: 180px; background: #ff7000; background: rgba(115, 174, 8, 1); color: #fff; font: bold 16px Helvetica, Arial, sans-serif; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px; text-align: center; display: table-cell; vertical-align: middle; border: none; opacity: 0.75; transition: all 0.15s linear; -moz-transition: all 0.15s linear; -webkit-transition: all 0.15s linear; padding: 10px; transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; }
            .projects a:hover, .projects a:focus { opacity: 1; background: #231f20; /*border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;*/ }

    #clients { width: 136px; padding: 1em 10px 0 0; border-right: 1px dotted #7f7f7f; }
        #clients h1 { font: bold 14px 'Trebuchet MS', Arial, sans-serif; margin-bottom: 1.5em; }
            #clients li { margin-bottom: 0.65em; line-height: 1.2; font-size: 11px; }
            li[id^="year"] { height: 200px; border-bottom: 1px dotted #7f7f7f; position: relative; }
                #year2010 { height: 300px; }
                #year2007 { height: 170px; }
                #year2006 { height: 160px; }
                    li[id^="year"] h2 { width: 38px; height: 12px; position: absolute; bottom: 7px; left: 10px; }
                    #year2010 h2 { background-image: url(/i/screen/2010.gif); }
                    #year2009 h2 { background-image: url(/i/screen/2009.gif); }
                    #year2008 h2 { background-image: url(/i/screen/2008.gif); }
                    #year2007 h2 { background-image: url(/i/screen/2007.gif); }
                    #year2006 h2 { background-image: url(/i/screen/2006.gif); }
                
#work-area { width: 800px; margin: 0 auto; }
    #work .breadcrumbs { background: transparent url(/i/screen/breadcrumbs-bg.gif) no-repeat 0 0; width: 144px; height: 15px; margin: 0 auto 10px; position: relative; }
        #work .breadcrumbs ul { list-style: none; }
            #work .breadcrumbs li { position: absolute; top: 0; }
                #work .breadcrumbs a { border: none; height: 15px; width: 52px; opacity: 0; }
                #work .breadcrumbs a:hover, #work .breadcrumbs a:focus { opacity: 1; }
            #breadcrumbs-home { left: 0; }
                #breadcrumbs-home a { background-image: url(/i/screen/breadcrumbs-home.gif); }
            #breadcrumbs-work { left: 79px; }
                #breadcrumbs-work a { background-image: url(/i/screen/breadcrumbs-work.gif); }
    
    #work-area hgroup { text-align: center; margin: 0 0 2em; }
        #work-area hgroup h1 { margin: 0 auto 0.5em; }
        #work-area hgroup h2 { margin: 0 0 0.2em; }
    
    #publications #content { border-top: 1px dotted #7f7f7f; padding: 0 0 2em; position: relative; z-index: 2; width: 800px; margin: 0 auto; }    
        
    #p24ways-2010 { z-index: 1; min-height: 280px; }
        #p24ways-2010 .inner:before { left: -30px; width: 322px; height: 295px; background: transparent url(/i/screen/publications-24ways2010.png) no-repeat 0 0; z-index: 1; }
        #soda .inner:before { left: -60px; width: 524px; height: 123px; background: transparent url(/i/screen/publications-soda.png) no-repeat 0 0; }
        #ala-artdirection .inner:before { left: -10px; width: 397px; height: 162px; background: transparent url(/i/screen/publications-ad.jpg) no-repeat 0 0; }
        #ala-flashstandards .inner:before { left: -10px; top: 15px; width: 391px; height: 203px; background: transparent url(/i/screen/publications-cold-war.jpg) no-repeat 0 0; }
        #istockphoto .inner:before { left: 50px; top: 55px; width: 273px; height: 67px; background: transparent url(/i/screen/publications-istock.png) no-repeat 0 0; }
        #p24ways-2009 .inner:before { left: 120px; top: 35px; width: 139px; height: 145px; background: transparent url(/i/screen/publications-24ways2009.png) no-repeat 0 0; }
        #dotnet .inner:before { left: 20px; top: auto; bottom: 0; width: 332px; height: 261px; height: 200px; background: transparent url(/i/screen/publications-dotnet.jpg) no-repeat 0 0; }
        #ala-semanticflash .inner:before { left: 100px; width: 204px; height: 205px; background: transparent url(/i/screen/publications-semanticflash.jpg) no-repeat 0 0; }
    
            #publications #content > ol li h1 { font: 18px 'Trebuchet MS', Arial, sans-serif; margin-bottom: 0.75em; }
                #publications #content > ol li h1 a { line-height: 1.3; }
        #publications li .meta { font-size: 11px; margin: -0.75em 0 0.75em; }
    
        
    #speaking #content { border-top: 1px dotted #7f7f7f; padding: 0 0 2em; position: relative; z-index: 2; }    
        #speaking .work-row { height: 350px; padding: 0; }
            #speaking .work-row .inner { position: relative; padding: 0; width: 800px; }
                #speaking .work-row a { transition: all 0s linear; -moz-transition: all 0s linear; -webkit-transition: all 0s linear; -o-transition: all 0s linear; }
    
        #inspire-conf { background: transparent url(/i/screen/work/speaking/inspire-conf.png) no-repeat center 0; }
            #inspire-conf p.more { position: absolute; top: 290px; left: 330px; }
            #inspire-conf a { background: transparent url(/i/screen/work/speaking/inspire-register.png) no-repeat 0 0; width: 135px; height: 24px; padding: 0; border: none; }
            #inspire-conf a:hover, #inspire-conf a:focus { background-position: 0 -24px; }
        #sva-flash-intensive { background: #000 url(/i/screen/work/speaking/sva.png) no-repeat center 0; }
        #miami-ad-school { background: #d9498b url(/i/screen/work/speaking/miami-ad-school.png) no-repeat center 0; }
            #miami-ad-school .more { color: #fff; font: 21px 'Trebuchet MS', Arial, sans-serif; position: absolute; top: 200px; text-align: center; width: 800px; }
                #miami-ad-school .more a { background: rgba(0, 0, 0, 0.2); }
                #miami-ad-school .more a:hover, #miami-ad-school .more a:focus { background: rgba(0, 0, 0, 0.5); }
        #fowd2010 { background: #000 url(/i/screen/work/speaking/fowd2010.jpg) no-repeat center 0; }
            #fowd2010 .rotator { position: absolute; }
        #sxsw2010 { background: #000 url(/i/screen/work/speaking/sxsw2010.jpg) no-repeat center 0; }
            #sxsw2010 article { padding: 115px 0 0; position: relative; left: -8px; width: 500px; }
                #sxsw2010 p { font: 16px 'Trebuchet MS', Arial, sans-serif; color: #999; }
                #sxsw2010 .more a { background: rgba(255, 255, 255, 0.2); border: none; }
                #sxsw2010 .more a:hover, #sxsw2010 .more a:focus { background: rgba(255, 255, 255, 0.3); }
            #sxsw2010 a { color: #ff9792; }
            #sxsw2010 blockquote { position: relative; left: -9px; }
                #sxsw2010 blockquote p { font-size: 13px; }
                #sxsw2010 blockquote p:first-child { font-size: 20px; color: #ccc; margin-bottom: 0.25em; }
                #sxsw2010 blockquote p:first-child:before { content: "\201c"; }
                #sxsw2010 blockquote p:first-child:after { content: "\201d"; }
                #sxsw2010 blockquote p:last-child:before { content: "\2014"; }
        #flashpitt2009 { background: #000 url(/i/screen/work/speaking/flashpitt2009.jpg) no-repeat center 0; }
            #flashpitt2009 .rotator { position: absolute; }
        #fowd2008 { background: #000 url(/i/screen/work/speaking/fowd2008.jpg) no-repeat center 0; position: relative; }
            #speaking #fowd2008 .inner, #speaking #fowd2008 article { position: static; }
                #fowd2008 hgroup { width: 384px; height: 317px; display: block; background: transparent url(/i/screen/work/speaking/fowd2008-sketch.png) no-repeat center 0; position: absolute; right: 0; bottom: 0;  }
                    #fowd2008 .more { position: relative; top: 250px; left: -10px; font-size: 16px;  }
                        #fowd2008 .more a { background: none; text-transform: none; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 0; }
                        #fowd2008 .more a:hover, #fowd2008 .more a:focus { border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/*-------------------------------------------    
    Articles
-------------------------------------------*/

#article-landing hgroup h1 { background-image: url(/i/screen/articles-headline.gif); width: 238px; height: 47px; margin: 20px 0 0.25em 40px; }
#article-landing hgroup h2 { color: #bdbbbc; font-size: 21px; margin: 0 0 1em 40px; font-weight: normal; }

#article-landing .main { float: right; }

#article-landing .sub { padding-top: 24px; width: 200px; }
    #article-landing .sub h1 { background-image: url(/i/screen/displaying.gif); width: 85px; height: 15px; }
    #article-landing .sub li { border-bottom: 1px solid #ddd; }
        #article-landing .sub li a, #article-landing .sub li mark { display: block; border: none; padding: 0.3em 7px; }

#comments-wrap, #article-meta header { width: 800px; margin: 0 auto; }

#article-meta { background: #231f20; }
    #article-meta header { text-transform: uppercase; letter-spacing: 0.1em; padding: 0.5em 0; }
        #article-meta h1 { color: #fff; font-size: 15px; float: left; margin: 0; }
        #article-meta p { color: #fff; float: right; margin: 0; font: 11px 'Trebuchet MS', Arial, sans-serif; position: relative; top: 0.2em; min-width: 153px; }
        #article-meta a { color: #fff; border-color: #fff; }

#comment-form input[type="text"], #contact-form input[type="text"] { width: 350px; }
#comment-form textarea, #contact-form textarea { width: 550px; } 



#article .main { width: 608px; border: none; border-right: 1px solid #231f20; padding: 2em 15px 50px 0; }
#article-link-format { width: 800px; margin: 3em auto; }

#article .sub { width: 153px; padding: 20px 0 0 20px; } 

    #article .sub section { margin: 0 0 3em; }
    
        #article-info h2 { background-image: url(/i/screen/article-info-heading.gif); width: 98px; height: 19px; margin: 0 0 10px; }
        #article-info time { font-size: 12px; }
        
        #article-tags h2 { background-image: url(/i/screen/tags-heading.gif); width: 36px; height: 19px; margin: 0 0 10px; }
        #article-tags li { background: transparent url(/i/screen/tags-bullet.gif) no-repeat 0 center; padding-left: 12px; }
            #article-tags a { font-style: italic; color: #686868; border: none; }
            #article-tags a:hover, #article-tags a:focus { color: #f77000; }


/*-------------------------------------------    
    About
-------------------------------------------*/
#about-landing #intro { padding: 165px 0 2em 320px; border-bottom: 1px dotted #7f7f7f; background: transparent url(/i/screen/dan-headshot.png) no-repeat 40px 0; margin: -50px 0 5px; }
    #about-landing #intro h1 { background-image: url(/i/screen/about-headline.png); width: 472px; height: 69px; margin: 0 0 0.5em; }
    #about-landing #intro p { font-size: 15px; color: #231f20; line-height: 1.7; }
        #about-landing #intro cite.credit { font-size: 13px; color: #b0b0b0; }
            #about-landing #intro cite.credit a { color: #b0b0b0; border-color: #ddd; }

#about-landing .main { width: 627px; float: left; border: none; }
#about-landing .sub { width: 150px; padding: 10px 0 0 15px; float: right; border-left: 1px dotted #7f7f7f; }

#dig { width: 289px; float: left; padding-right: 15px; }
#about-site { width: 294px; float: left; padding-left: 15px; border-left: 1px dotted #7f7f7f; margin-bottom: 5px; }
#history { border-top: 1px dotted #7f7f7f; clear: left; }


/*-------------------------------------------    
    Contact
-------------------------------------------*/
#contact-landing .main { width: 550px; border: none; border-right: 1px dotted #7f7f7f; padding: 0 30px 0 0;  }
    #contact-landing .main header h1 { background-image: url(/i/screen/contact-dan-headline.png); width: 488px; height: 63px; margin: 0 0 15px; }
    
#contact-landing .sub { width: 170px; padding: 0 0 0 30px; }
    #contact-landing .sub header h1 { background-image: url(/i/screen/find-me-elsewhere.png); width: 147px; height: 14px; margin: 25px 0 15px; }
    #contact-landing .sub ul { margin: 0 0 3em; }
    #contact-landing .sub li { margin: 0 0 1em; }
        #contact-landing .sub li a { display: block; border: none; padding-left: 25px; min-height: 16px; font-style: italic; }
        #contact-landing .sub li a:link, #contact-landing .sub li a:visited { color: #686868; }
        #contact-landing #twitter a { background: transparent url(/i/screen/twitter_16.png) no-repeat 0 center; }
        #contact-landing #dribbble a { background: transparent url(/i/screen/dribbble_16.png) no-repeat 0 center; }
        #contact-landing #flickr a { background: transparent url(/i/screen/flickr_16.png) no-repeat 0 center; }
        #contact-landing #cargo a { background: transparent url(/i/screen/cargo_16.png) no-repeat 0 center; }
        #contact-landing #forrst a { background: transparent url(/i/screen/forrst_16.png) no-repeat 0 center; }
        #contact-landing #linkedin a { background: transparent url(/i/screen/linkedin_16.png) no-repeat 0 center; }
        #contact-landing #readernaut a { background: transparent url(/i/screen/readernaut_16.png) no-repeat 0 center; }
        
        #contact-landing .sub li a:hover, #contact-landing .sub li a:focus { background-position: 3px center !important; color: #000; }
        
    #contact-landing .sub small { border-top: 1px solid #e5e5e5; padding: 2em 0 0; }
    #contact-landing .sub small:before { content: "* "; }
        