/*
*************************************************

DANIELMALL.COM
Enhanced Screen Styles
Styles that only apply when JavaScript is enabled

Created by the ridiculous Dan Mall
http://www.danielmall.com/

*************************************************
*/





/*-------------------------------------------    
    General Selectors
-------------------------------------------*/




/*-------------------------------------------    
    Global combinations
-------------------------------------------*/




/*-------------------------------------------    
    Reusable Elements
-------------------------------------------*/

        

/*-------------------------------------------    
    Basic Structure
-------------------------------------------*/




/*-------------------------------------------    
    Home page
-------------------------------------------*/
#tweet h1 { background-image: url(/i/screen/latest-tweets.png); }

#tweets li { width: 180px; }
#tweets p { margin-bottom: 0.75em; }


/*-------------------------------------------    
    Work
-------------------------------------------*/

    

/*-------------------------------------------    
    Articles
-------------------------------------------*/
#dsq-pagination, #dsq-sort-by, #dsq-global-toolbar { display: none; }

#dsq-content .dsq-avatar { left: -10px !important; }

.dsq-post-tools, .dsq-textarea-background { background: #f5f5f5 !important; border-radius: 0 !important; border: none !important; -webkit-box-shadow: none !important; }

.dsq-post-tools { background: none !important; }

.dsq-post-tools .dsq-post-as .dsq-button { top: 40px !important; }


/*-------------------------------------------    
    About
-------------------------------------------*/



/*-------------------------------------------    
    Contact
-------------------------------------------*/
