/*
*************************************************

DANIELMALL.COM
Enhanced Screen Styles
Styles that only apply when JavaScript is enabled

Created by the ridiculous Dan Mall
http://www.danielmall.com/

*************************************************
*/





/*-------------------------------------------    
    General Selectors
-------------------------------------------*/




/*-------------------------------------------    
    Global combinations
-------------------------------------------*/




/*-------------------------------------------    
    Reusable Elements
-------------------------------------------*/

        

/*-------------------------------------------    
    Basic Structure
-------------------------------------------*/




/*-------------------------------------------    
    Home page
-------------------------------------------*/
#tweet h1 { background-image: url(/i/screen/latest-tweets.png); }

#tweets li { width: 180px; }
#tweets p { margin-bottom: 0.75em; }


/*-------------------------------------------    
    Work
-------------------------------------------*/

    

/*-------------------------------------------    
    Articles
-------------------------------------------*/



/*-------------------------------------------    
    About
-------------------------------------------*/



/*-------------------------------------------    
    Contact
-------------------------------------------*/
