#article-area-wrap { background: #ffc400; }

#responsive-line-breaks { margin: 0 auto; padding: 100px 0 50px;  }

    #responsive-line-breaks h1 { background-image: url(responsive-line-breaks.png); width: 478px; height: 368px; border-bottom: 1px solid #111; padding-bottom: 30px; margin: 0 0 30px; background-size: contain; width: 100%; max-width: 478px; }
    
    #responsive-line-breaks p, #responsive-line-breaks h2 { color: #484848; font: 18px/1.4 "chaparral-pro", georgia, serif; }    
    #responsive-line-breaks h2 { font-weight: bold; color: #222; }
    
    #responsive-line-breaks code { color: #484848; font-size: 16px; }
	
	#responsive-line-breaks a { background: rgba(255, 255, 255, 0.3); color: #242424; border: none; padding: 0 5px; }
	#responsive-line-breaks a:hover, #responsive-line-breaks a:focus { background: rgba(255, 255, 255, 1); }

	
		
#responsive-line-breaks ::selection { background: #000; color: #fff; }
#responsive-line-breaks ::-moz-selection { background: #000; color: #fff; }


@media screen and (min-width: 500px) {
	#responsive-line-breaks { width: 485px; }

	/*#responsive-line-breaks h1 { background-size: 100% 100%; }*/
}