#article-area-wrap { background: #353535; }

#photoshop-clusters { width: 800px; margin: 0 auto; padding-top: 45px; font-family: 'Lucida Grande', Verdana, sans-serif; }
    #photoshop-clusters h1 { text-align: center; font-size: 40px; font-weight: bold; color: #191919; text-transform: uppercase; text-shadow: rgba(255, 255, 255, 0.1) 1px 1px 0; letter-spacing: -1px; margin: 0 0 0.05em; }    
    .wf-active #photoshop-clusters h1 { font-family: 'myriad-pro-1', 'myriad-pro-2'; font-size: 60px; margin: 0; }
    #photoshop-clusters h2 { text-align: center; margin: 0 0 2em; color: rgba(255, 255, 255, 0.4); font: 24px 'Times New Roman', serif; font-style: italic; }
    .wf-active #photoshop-clusters h2 { font-family: 'minion-pro-1','minion-pro-2'; font-size: 20px; margin-top: -0.35em; }
    #photoshop-clusters p { color: #9d9d9d; margin-right: 100px; margin-left: 100px; font: 14px/1.5 'Lucida Grande', Verdana, sans-serif; }
    .wf-active #photoshop-clusters p { font-family: 'myriad-pro-1', 'myriad-pro-2'; }
    
    #photoshop-clusters a { color: #ffbc14; }
    #photoshop-clusters a:hover, #photoshop-clusters a:focus { color: #fff; }
    
    #photoshop-clusters figure { display: block; margin: 4em 0 3em; }
        #photoshop-clusters img { float: none; }

    
#photoshop-clusters ::selection { background: #ffbc14; color: #fff; }
#photoshop-clusters ::-moz-selection { background: #ffbc14; color: #fff; }