.windows-nav {
	background: #f0fcfd;	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2em;
	padding: 2em 1.5em 0;
}
	.windows .windows-nav_heading {		
		font: bold 11px 'Open Sans', sans-serif;		
		letter-spacing: 0.1em;
		margin-bottom: 1.5em;
		text-transform: uppercase;
	}

	.windows-nav--currentArticle {
		font-weight: 800;
		color: #0072c6;
		color: #000;
	}