#article-area-wrap { background: #f9f6f1; color: #65625d; font: normal 16px/1.6 'Trebuchet MS', Helvetica, Arial, sans-serif; padding: 3em 0; }

	#businessology-roadshow { max-width: 700px; margin: 0 auto; }
		
		#businessology-roadshow p { font-size: 18px; }
		#businessology-roadshow a { color: #e94c00; }
		#businessology-roadshow a:hover, #businessology-roadshow a:focus { color: #4c8a94; }

		#businessology-roadshow .entry-title { line-height: 1.3; padding: 100px 0 0; background: transparent url(businessology-logo.svg) no-repeat 50% 0; text-align: center; margin: 0 0 2em; }
		@media screen and (min-width: 600px) {
			#businessology-roadshow .entry-title { font-size: 36px; }
		}



#businessology-roadshow ::selection { background: #292829; color: #fff; }
#businessology-roadshow ::-moz-selection { background: #292829; color: #fff; }


