#article-area-wrap { 
	background: #e6e6e6; 
	color: #262626; 
	font: normal 16px/1.6 'Trebuchet MS', Helvetica, Arial, sans-serif; 
	padding: 4em 0;
}

	#cc-libraries { 
		width: 95%;
		margin: 0 auto;
		max-width: 708px;
	}

	#cc-libraries p,
	#cc-libraries ul {
		font: normal 16px/1.6 'Trebuchet MS', Helvetica, Arial, sans-serif;
	}

	#cc-libraries img {
		float: none;
		margin: 0 auto 2em;		
	}	

	#cc-libraries a {
		color: #44bded;
		background: #121021;
		border: 2px solid #40d8ff;
		padding: 0.2em 0.5em;
	}

	#cc-libraries a:hover,
	#cc-libraries a:focus {
		background: #44bded;
		color: #121021;
		border-color: #44bded;
	}

	#cc-libraries .entry-title {
		color: #103642;
		font-size: 50px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		margin: 0 0 1.4em;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
		line-height: 1;
	}

#cc-libraries ::selection { background: #292829; color: #fff; }
#cc-libraries ::-moz-selection { background: #292829; color: #fff; }


