#article-area-wrap, 
#bb2014 p,
#bb2014 ul { 
	font-family: "futura-pt";
	font-weight: 300;
}

#bb2014 p {
	font-size: 25px;
}

#bb2014 ul {
	font-size: 18px;
}

#bb2014 strong {
	font-weight: 400;
}

#bb2014 .entry-title { 
	font: bold 200px Georgia, serif;	
	font-family: "quatro-slab";
}

#bb2014 .book-list a:first-child {
	font-family: "futura-pt";
	font-weight: 400;
}

#bb2014 .tweet-link {
	background-position: 0 7px;
}