#article-area-wrap { background: #fdfdfd; font: 18px/1.5 'Sentinel SSm A', 'Sentinel SSm B'; padding: 100px 0 3em; }

#now-with-responsive { margin: 0 auto; width: 95%; max-width: 800px; }      

	#now-with-responsive .cg { font-weight: 400; font-style: normal; }
	
	#now-with-responsive p, #now-with-responsive ul, #now-with-responsive ol { font-size: 18px; color: #464646; font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 400; font-style: normal; }
	#now-with-responsive ol, #now-with-responsive ul { margin-left: 30px; font-size: 14px; }
	#now-with-responsive ol li, #now-with-responsive ul li { margin: 0 0 1em; }
		@media screen and (min-width: 800px){
			#now-with-responsive p, #now-with-responsive ul, #now-with-responsive ol { font-size: 22px; }
			#now-with-responsive ul, #now-with-responsive ol { font-size: 18px; }
		}
	#now-with-responsive code { font-size: 18px; }
	#now-with-responsive ol code, #now-with-responsive ul code { font-size: 14px; }
	@media screen and (min-width: 800px){
		#now-with-responsive ol code, #now-with-responsive ul code { font-size: 16px; }
	}
	#now-with-responsive a { background: #fedd88; color: #464646; border: none; padding: 2px 6px; }
	#now-with-responsive a:hover, #now-with-responsive a:focus { background: #464646; color: #fedd88; }

	#now-with-responsive .article-title { text-align: center; font: bold 30px Helvetica, Arial, sans-serif; margin: 0 0 2em; text-transform: uppercase; letter-spacing: 0.1em; border-top: 1px solid rgba(0, 0, 0, 0.5); border-bottom: 1px solid rgba(0, 0, 0, 0.5); padding: 0 0 1em; font-weight: normal; position: relative; }
		#now-with-responsive .article-title:before, #now-with-responsive .pullquote-wrap:before { content:''; display: block; width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid black; position: absolute; bottom: -0.2em; right: 0; }
		#now-with-responsive .article-title:after, #now-with-responsive .pullquote-wrap:after { content:''; display: block; width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 6px solid black; position: absolute; bottom: -0.2em; left: 0; }
		
		#now-with-responsive .article-title-start { background-color: #fdfdfd; position: relative; top: -0.5em; display: inline-block; padding: 0 1em; font-family: 'Champion Bantamwt A', 'Champion Bantamwt B';  }
		#now-with-responsive .article-title-start:before, #now-with-responsive .pullquote:before { content:''; display: block; width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid black; position: absolute; top: 0.27em; left: 0; }
		#now-with-responsive .article-title-start:after, #now-with-responsive .pullquote:after { content:''; display: block; width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 6px solid black; position: absolute; top: 0.27em; right: 0; }

		#now-with-responsive .article-title-pizzazz { color: #ecab00; display: block; font-size: 26px; font-family: 'Champion Heavywt A', 'Champion Heavywt B'; }

		#now-with-responsive .cg-bantamwt { font-family: 'Champion Bantamwt A', 'Champion Bantamwt B'; }
			#now-with-responsive .cg-featherwt { font-family: 'Champion Featherwt A', 'Champion Featherwt B'; }
			#now-with-responsive .cg-lightwt { font-family: 'Champion Lightwt A', 'Champion Lightwt B'; }
			#now-with-responsive .cg-welterwt { font-family: 'Champion Welterwt A', 'Champion Welterwt B'; }
			#now-with-responsive .cg-middlewt { font-family: 'Champion Middlewt A', 'Champion Middlewt B'; }
			#now-with-responsive .cg-heavywt { font-family: 'Champion Heavywt A', 'Champion Heavywt B'; }

		@media screen and (min-width: 670px){ 

			#now-with-responsive .article-title-pizzazz { font-size: 100px; }

			#now-with-responsive .color1 { color: #f0b724; }
			#now-with-responsive .color2 { color: #c7971a; }
			#now-with-responsive .color3 { color: #ecc45c; }
			#now-with-responsive .color4 { color: #ecab00; }
			#now-with-responsive .color5 { color: #cd9400; }
			#now-with-responsive .color6 { color: #ecbe45; }

			#now-with-responsive .jitter { position: relative; }
			#now-with-responsive .jitter1 { top: -9px; }
			#now-with-responsive .jitter2 { top: -8px; }
			#now-with-responsive .jitter3 { top: -7px; }
			#now-with-responsive .jitter4 { top: -6px; }
			#now-with-responsive .jitter5 { top: -5px; }
			#now-with-responsive .jitter6 { top: -4px; }
			#now-with-responsive .jitter7 { top: -3px; }
			#now-with-responsive .jitter8 { top: -2px; }
			#now-with-responsive .jitter9 { top: -1px; }
			#now-with-responsive .jitter10 { top: 0; }
			#now-with-responsive .jitter11 { top: 1px; }
			#now-with-responsive .jitter12 { top: 2px; }
			#now-with-responsive .jitter13 { top: 3px; }
			#now-with-responsive .jitter14 { top: 4px; }
			#now-with-responsive .jitter15 { top: 5px; }
			#now-with-responsive .jitter16 { top: 6px; }
			#now-with-responsive .jitter17 { top: 7px; }
			#now-with-responsive .jitter18 { top: 8px; }
			#now-with-responsive .jitter19 { top: 9px; }
			#now-with-responsive .jitter20 { top: 10px; }
		}
		@media screen and (max-width: 669px){
			#now-with-responsive .article-title-pizzazz span { font-family: 'Champion Heavywt A', 'Champion Heavywt B' !important; }		
		}	

	#now-with-responsive .subheading { text-align: center; font-size: 24px; margin: 2em 0 1em; }
	@media screen and (min-width: 800px){
		#now-with-responsive .subheading { font-size: 32px; }
	}

	#now-with-responsive .stats-table-wrapper { width: 100%; margin: 0 auto; max-width: 800px; overflow-x: scroll; }
		#now-with-responsive .stats-table { margin: 0 0 1.5em; font-size: 14px; min-width: 600px; width: 100%; }
			#now-with-responsive .stats-table thead th { color: #fff; background: #363636; text-transform: uppercase; letter-spacing: 0.1em; font: normal 14px 'Champion Middlewt A', 'Champion Middlewt B'; padding: 1em 5px; }
			#now-with-responsive .stats-table tbody tr:nth-child(even) th, #now-with-responsive .stats-table tbody tr:nth-child(even) td { background: #f3f3f3; }
				#now-with-responsive .stats-table tbody th, #now-with-responsive .stats-table tbody td { text-align: center; padding: 0.5em 5px; border-bottom: 1px solid #dadada; }
				#now-with-responsive .stats-table tbody th { text-align: left; font-weight: 400; font-family: 'Champion Middlewt A', 'Champion Middlewt B'; font-family: 'Champion Heavywt A', 'Champion Heavywt B'; font-size: 14px; text-transform: uppercase; letter-spacing: 0.1em; }
				#now-with-responsive .stats-table tbody th.stats-table-child-page { text-transform: none; letter-spacing: 0; padding-left: 30px; }
			#now-with-responsive .stats-table th abbr { font-size: 100%; }
			#now-with-responsive .stats-table td[colspan], #now-with-responsive .stats-table tr:nth-child(even) td[colspan] { background: #ccc; }

	#now-with-responsive .icon-down, #now-with-responsive .icon-up { font-weight: normal; }
		#now-with-responsive .icon-arrow-up, .icon-arrow-down { font-size: 12px; }	
		#now-with-responsive .icon-arrow-up { color: red; }
		#now-with-responsive .icon-arrow-down { color: green; }

	#now-with-responsive .pullquote-wrap { border-top: 1px solid rgba(0, 0, 0, 0.5); border-bottom: 1px solid rgba(0, 0, 0, 0.5); position: relative; padding: 2em 0 0.5em; margin: 0 0 1.5em; }
		#now-with-responsive .pullquote:before, #now-with-responsive .pullquote:after { top: -0.34em; }		
		#now-with-responsive .pullquote-wrap:before, #now-with-responsive .pullquote-wrap:after { bottom: -0.36em; }
			#now-with-responsive .pullquote { padding: 0; background: none; text-align: center; }
			#now-with-responsive .pullquote:after { left: 0; right: auto; }
			#now-with-responsive .pullquote:before { right: 0; left: auto; }
				#now-with-responsive .pullquote p { font-size: 18px; line-height: 1.8; font-style: italic; }
				#now-with-responsive p.pullquote-citation { font-size: 14px; }
		
		
#now-with-responsive ::selection { background: #464646; color: #fdfdfd; }
#now-with-responsive ::-moz-selection { background: #464646; color: #fdfdfd; }


@media screen and (min-width: 800px){
	#now-with-responsive {  }  
}