#leaving-four24 p, #leaving-four24 li, #leaving-four24 figure, #leaving-four24 h1 { font: normal 20px/1.5 "proxima-nova"; }
#leaving-four24 li { font-size: 16px; }
#leaving-four24 h1 { font-weight: bold; }
