/*
*************************************************

DANIELMALL.COM
Typekit Screen Styles
Styles that only apply when Typekit is enabled

Created by the ridiculous Dan Mall
http://www.danielmall.com/

*************************************************
*/





/*-------------------------------------------    
    General Selectors
-------------------------------------------*/
blockquote p, blockquote ol, blockquote ul { font-family: "urbana-1","urbana-2"; color: #999; font-weight: 200; }
blockquote p { line-height: 1.2; }



/*-------------------------------------------    
    Global combinations
-------------------------------------------*/




/*-------------------------------------------    
    Reusable Elements
-------------------------------------------*/
.work-row .more a, .button { font-size: 16px; font-family: "urbana-1","urbana-2"; font-weight: 300; padding-top: 0.25em; padding-bottom: 0.15em; letter-spacing: 0.1em; }

        

/*-------------------------------------------    
    Basic Structure
-------------------------------------------*/




/*-------------------------------------------    
    Home page
-------------------------------------------*/
#roles, #master-roles { font-size: 16px; font-family: "urbana-1","urbana-2"; font-weight: 300; }
    #master-roles span { opacity: 0.5; }

#tooltip h1, .work-tooltip { font-size: 26px; font-family: "urbana-1","urbana-2"; font-weight: 300; /*text-transform: uppercase;*/ }
.work-tooltip { font-size: 20px; }



/*-------------------------------------------    
    Work
-------------------------------------------*/

.work-tabs a { font-size: 16px; color: #999; font-family: "urbana-1","urbana-2"; font-weight: 300; }
.work-tabs a:hover, .work-tabs a:focus { color: #444; }

.in-use h2 { font-size: 18px; font-family: "urbana-1","urbana-2"; font-weight: 500; }

#the-work h2, #work-area h2, #work-content .sub h2 { font-size: 16px; color: #757575; font-family: "urbana-1","urbana-2"; font-weight: 300; }

.superfriendly-push { font-family: "urbana-1","urbana-2"; font-weight: 500; }

.breadcrumbs { 
    li:after { font-family: "urbana-1","urbana-2"; font-weight: 500; }
    a { font-family: "urbana-1","urbana-2"; font-weight: 500; }
}

#by-client h1 { font-size: 26px; color: #231f20; font-family: "urbana-1","urbana-2"; font-weight: 600; }

#clients h1 { font-size: 16px; font-family: "urbana-1","urbana-2"; font-weight: 400; }

#publications #content > ol li h1 { font-size: 20px; font-family: "urbana-1","urbana-2"; font-weight: 300; }

#sxsw2010 p { font-size: 18px; font-family: "urbana-1","urbana-2"; font-weight: 300; }

#fowd3008 .more a { letter-spacing: 0; }

.projects a { font-size: 16px; font-family: "urbana-1","urbana-2"; font-weight: 400; }

#work-content .sub h2 { font-weight: 400; color: #bbb; }

#bibliography h1 { font-size: 16px; font-family: "urbana-1","urbana-2"; font-weight: 400; }

    

/*-------------------------------------------    
    Articles
-------------------------------------------*/
#article-landing .main hgroup h2 { font-size: 16px; color: #999; font-family: "urbana-1","urbana-2"; font-weight: 300; }

#article-info h2, #article-tags h2 { font-size: 16px; color: #000; font-family: "urbana-1","urbana-2"; font-weight: 300; text-transform: uppercase; }

#dsq-content h3 { font-family: "urbana-1","urbana-2"; font-weight: 300; text-transform: uppercase; }


/*-------------------------------------------    
    About
-------------------------------------------*/
#about-landing #content h1 { font-size: 22px; font-family: "urbana-1","urbana-2"; font-weight: 600; margin-bottom: 0.25em; }

#history th { font-size: 18px; font-family: "urbana-1","urbana-2"; font-weight: 600; color: #fff; opacity: 1; padding-top: 0.75em; }

#fact-soda dd, .hey-look { font-size: 60px; font-family: "gloriola-display-thin-1","gloriola-display-thin-2"; top: 60px; line-height: 1; }
.hey-look { font-size: 30px; }

/*-------------------------------------------    
    Contact
-------------------------------------------*/
