/* fonts */
$fontStack: 'Stag Web', Georgia, 'Times New Roman', serif;


/* colors */
$navLinkHover: #73ae08; 
$green: #73ae08; 
$blackSubstitute: #231f20;

/* measurements */
$testBreakpoint: 800px;
$mediumPx: 481px;
$largePx: 960px;
$xlPx: 1280px;
