#article-area-wrap { 
	font-family: "freight-micro-pro";
	font-weight: 400;	
}


	#performance-budget p,
	#performance-budget ul {		
		font-size: 20px;	
	}

	#performance-budget .pullquote p {
		text-transform: uppercase;
		font-family: "aktiv-grotesk-std";
	}


	/* Specific */

	#performance-budget .article-title {
		font-family: "aktiv-grotesk-std";
		font-weight: 500;
	}

	@media screen and (min-width: 640px){
		#performance-budget .article-title {
			font-size: 50px;
		}

	}

	@media screen and (min-width: 900px){
		
		#performance-budget .article-title {
			font-size: 70px;
			width: 80%;
			padding-left: 10%;
			line-height: 1;
		}

		#performance-budget .article-header {
			padding: 5em 0;
		}

			#performance-budget .article-header .inner {
				max-width: none;
			}

			#performance-budget .article-header p {
				margin: -2.9em 10% 0 50%;
			}

	}

	@media screen and (min-width: 1108px) {
		#performance-budget .article-title {
			width: 60%;
		}
	}

	#performance-budget .vowel {
		color: #111;
		position: relative;
	}

	#performance-budget .vowel-o:after {
		content: "";
		background: #63ff25;
		width: 24px;
		height: 24px;
		border-radius: 24px;
		display: block;
		position: absolute; 
		top: 50%;
		left: 50%;
		margin: -12px 0 0 -12px;
	}

	#performance-budget .vowel-e:after {
		content: "";
		background: #23b4ff;
		width: 20px;
		height: 20px;
		display: block;
		position: absolute; 
		top: 50%;
		left: 50%;
		margin: -10px 0 0 -10px;
	}

	#performance-budget .vowel-a:after {
		content: "";
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;		
		border-bottom: 20px solid #ff19dc;
		position: absolute; 
		top: 50%;
		left: 50%;
		margin: -10px 0 0 -10px;
	}

	#performance-budget .vowel-u:after {
		content: "";
		background: #ff800f;
		width: 24px;
		height: 24px;
		border-radius: 5px;
		display: block;
		position: absolute; 
		top: 50%;
		left: 50%;
		margin: -12px 0 0 -12px;
	}

	@media screen and (min-width: 900px){

		#performance-budget .vowel-o:after {
			width: 32px;
			height: 32px;
			border-radius: 32px;
			margin: -16px 0 0 -16px;
		}

		#performance-budget .vowel-e:after {
			width: 28px;
			height: 28px;
			margin: -14px 0 0 -14px;
		}

		#performance-budget .vowel-a:after {
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;		
			border-bottom: 30px solid #ff19dc;			
			margin: -15px 0 0 -15px;
		}

		#performance-budget .vowel-u:after {
			width: 32px;
			height: 32px;
			border-radius: 6px;
			margin: -16px 0 0 -16px;
		}
	}


	#performance-budget .article-header p {
		font-size: 22px; 
		line-height: 1.4;
		font-weight: 300;
	}
 
	@media screen and (min-width: 1124px) {
		#performance-budget .article-header p {
			font-size: 28px;
			margin-top: -2.4em;
			line-height: 1.3;
		}	
	}

	#performance-budget .inner p {
		position: relative;
		z-index: 2;
	}

	#performance-budget .drop {
		position: relative;
		z-index: 1;
		font-family: "aktiv-grotesk-std";
	}

	#performance-budget .drop-i {
		width: 300px;
		height: 300px;
		border-radius: 300px;
		background: #63ff25;
		margin: -1em auto -3em;		
	}

	#performance-budget .drop-t {
		width: 0;
		height: 0;
		border-left: 150px solid transparent;
		border-right: 150px solid transparent;		
		border-bottom: 300px solid #ff19dc;
		margin: -1em auto -3em;		
	}

	#performance-budget .drop-p {
		width: 200px;
		height: 200px;
		background: #23b4ff;
		margin: -1em auto 0;		
	}

	#performance-budget .drop-f {
		width: 300px;
		height: 300px;
		border-radius: 50px;
		background: #ff800f;
		margin: -1em auto -3em;		
	}

	@media screen and (min-width: 730px){
		#performance-budget .drop-i {
			float: left;
			margin-right: -40px;
		}

		#performance-budget .drop-t {
			float: right;
			margin-left: -20px;
			margin-bottom: -5em;
		}

		#performance-budget .drop-p {
			float: left;
			margin-right: -40px;
		}

		#performance-budget .drop-p-after {
			margin: 3em 0;
			padding-top: 3em;
		}

		#performance-budget .drop-f {
			float: right;
			margin-left: -40px;
		}

		#performance-budget .pullquote-wikipedia {
			margin-bottom: 7em;
		}

	}

	#performance-budget .drop-i:after {
		content: "I";
		color: #fff;
		display: block;
		font-size: 300px;
		position: absolute;
		top: -20px;
		left: 30%;
	}

	#performance-budget .drop-t:after {
		content: "T";
		color: #fff;
		display: block;
		font-size: 300px;
		position: absolute;
		top: -20px;
		left: -130px;
	}

	#performance-budget .drop-p:after {
		content: "P";
		color: #fff;
		display: block;
		font-size: 270px;
		position: absolute;
		top: -105px;
		left: -40px;
	}

	#performance-budget .drop-f:after {
		content: "F";
		color: #fff;
		display: block;
		font-size: 300px;
		position: absolute;
		top: -20px;
		left: 30%;
	}

	#performance-budget .performance-table thead th,
	#performance-budget .bar-graph-table thead th {
		font-family: "aktiv-grotesk-std";
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.1em;
	}

