#article-area-wrap { font: normal 18px/1.6 Georgia, 'Times New Roman', serif; color: #d2d2d2; }

#grok-reads { margin: 0 auto; padding: 30px 0 50px; }
	#grok-reads p { font: 16px/1.6 Georgia, 'Times New Roman', serif; color: #505050; }
	.wf-chaparralpro-n4-active #grok-reads p { font: 18px/1.6 "chaparral-pro"; color: #666; }
	#grok-reads a { color: #d6572c; }
	#grok-reads a:hover, #grok-reads a:focus { color: #505050; }
	
	#grok-reads .books li { text-align: center; }
		#grok-reads .books h2 { font: 15px Georgia, 'Times New Roman', serif; margin: 0 0 0.25em; }
		.wf-chaparralpro-n4-active #grok-reads .books h2 { font: 16px "chaparral-pro"; }
			#grok-reads .books a { display: block; border: none; padding-top: 341px; background-repeat: no-repeat; background-position: 50% 0; }
		#grok-reads .books h3 { font: 13px Georgia, 'Times New Roman', serif; color: #bbb; font-style: italic;  }
		.wf-chaparralpro-n4-active #grok-reads .books h3 { font: 14px "chaparral-pro"; font-style: italic; }
	
		
#grok-reads ::selection { background: #d6572c; color: #fff; }
#grok-reads ::-moz-selection { background: #d6572c; color: #fff; }

@media screen and (min-width: 700px){
	#article-area-wrap { background: #fefefe url(i/grok-reads.jpg) no-repeat 50% 0; }
	.article-title { position: absolute; left: -9999px; }
	#grok-reads { width: 625px; padding: 220px 0 50px; }
	#grok-reads .books li { float: left; width: 50%; }
}