#article-area-wrap { background: #e0ded0 url(bg-tile.jpg) repeat 0 0; position: relative; }

#circlesconf2012 { margin: 0 auto; width: 799px; padding: 50px 0; font: normal 16px "rooney-web", Georgia, 'Times New Roman', serif; color: #000; }

    #circlesconf2012 .logo { width: 217px; height: 135px; background-image: url(circles-logo.png); margin: 0 auto 50px; }
    
	#circlesconf2012 p { font-size: 15px; text-align: justify; }
    #circlesconf2012 .lede { font-size: 32px; line-height: 1.3; border-bottom: 1px solid #b6b5a8; padding-bottom: 2em; margin-bottom: 2em; }
    
    #circlesconf2012 .bibliography { text-align: justify; display: inline; }
    #circlesconf2012 .speakers { text-align: justify; border-bottom: 1px solid #b6b5a8; padding-bottom: 3em; margin-bottom: 2em; }
        #circlesconf2012 .speakers li, #circlesconf2012 .bibliography li { display: inline; font-size: 20px; line-height: 1.7; }
        #circlesconf2012 .speakers li:before, #circlesconf2012 .bibliography li:before { content: "•"; margin: 0 0.2em 0 0.1em; color: #c5c3b8; font-size: 40px; line-height: 0; position: relative; top: 6px; }
        #circlesconf2012 .speakers li:first-child:before { margin: 0; content: ""; }
        #circlesconf2012 .bibliography li:before { font-size: 20px; position: relative; top: 1px; }
        #circlesconf2012 .bibliography li { font-size: 16px; }
    
    #circlesconf2012 .audio { display: inline-block; width: 24px; height: 24px; background-image: url(speaker.png); transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0; position: relative; top: 4px; }
    #circlesconf2012 .audio:hover, #circlesconf2012 .audio:focus { background-position: 0 100%; }
    
    #circlesconf2012 .hashtag { color: #98968e; }

    #circlesconf2012 h2 { display: inline; text-transform: uppercase; font: bold 16px "rooney-web", Georgia, 'Times New Roman', serif; color: #95948b; }
	
	#circlesconf2012 a { color: #d12a00; border: none; }
	#circlesconf2012 a:hover { color: #000; }
    
    #circlesconf2012 ::selection { background: #d12a00; color: #fff; }
    #circlesconf2012 ::-moz-selection { background: #d12a00; color: #fff; }