#article-area-wrap { background: #f4f4f4; font: 24px/1.5 Georgia, 'Times New Roman', serif; padding: 85px 0 3em; }

#prequalifying-clients { margin: 0 auto; width: 95%; max-width: 800px; }

    #prequalifying-clients h1 { font-size: 56px; color: #464646; letter-spacing: -1px; }
    #prequalifying-clients p { font-size: 26px; color: #464646; }

    #prequalifying-clients a { color: #ab22a6; position: relative; border: none; }
    #prequalifying-clients a:after { content: ""; display: block; width: 100%; position: absolute; bottom: -3px; border-bottom: 2px solid #ab22a6; opacity: 0; transition: all 0.2s linear; -moz-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; -o-transition: all 0.2s linear; transform: rotate(3deg); -ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); }
    #prequalifying-clients .topic a:after { border-bottom-width: 1px; }
    #prequalifying-clients a:hover:after { opacity: 1; bottom: 0; transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg);}

    #prequalifying-clients .disclaimers { margin-left: 25px; font-size: 21px; }
        #prequalifying-clients .disclaimers li { margin-bottom: 1em; color: #464646; }

    #prequalifying-clients .topic { border-top: 1px solid #dadada; padding: 1.5em 0; }
    #prequalifying-clients #timeline { border-top: 11px solid #585858; }
    #prequalifying-clients #misc { border-bottom: 5px solid #585858; margin-bottom: 2em; }
        #prequalifying-clients #misc h1 abbr { font-size: 100%; letter-spacing: 0.2em; }

        #prequalifying-clients .topic h1 { font-weight: bold; font-size: 16px; text-transform: uppercase; letter-spacing: 0.2em; margin: 0 0 1em; }
        #prequalifying-clients .topic h2 { font: normal 22px/1.5 Georgia, 'Times New Roman', serif; margin: 0 0 1em; text-indent: -0.5em; }
        #prequalifying-clients .topic p { font-size: 14px; }
       
       @media screen and (min-width: 480px){
            #prequalifying-clients .col1, #prequalifying-clients .col2 { float: left; width: 46%; }
            #prequalifying-clients .col1 { margin-right: 4%; }

            .move-along { display: block; position: absolute; left: -9999px; }
            .teams-before:before, .scope-before:before { content: "the availability to respond as quickly as you\2019ll need her to? We\2019ve often had to request certain roles on the client end (like project managers or supporting designers) to make sure our work gets put to good use."; margin-bottom: 1.5em; display: block; }
            .scope-before:before { content: "classic upsell, but done ethically and appropriately\2014to make for a more fruitful and prolific relationship."; }

       }

        
		
		
#prequalifying-clients ::selection { background: #ab22a6; color: #fff; }
#prequalifying-clients ::-moz-selection { background: #ab22a6; color: #fff; }