.image-row {
	margin: -8em 0 -4em;
	padding: 2em 0;
}

.image-row img {
	width: 95%;
}

.boards-image {
	margin-top: 0;
}

	.boards-image img {
		max-width: 1200px;
		margin: 0 auto;
		display: block;
		float: none;
	}

.tiles-image {
	margin-bottom: 0;
}

	.tiles-image img {
		max-width: 700px;
		margin: 0 auto;
		display: block;
		float: none;
	}