#article-area-wrap {  }

#easy-hangouts { margin: 0 auto; width: 95%; max-width: 780px; padding: 70px 0 100px; font-family: 'Open Sans', Arial, sans-serif; }
	



#easy-hangouts ::selection { background: #292829; color: #fff; }
#easy-hangouts ::-moz-selection { background: #292829; color: #fff; }