#article-area-wrap { background: #fff; font: 18px/1.5 Georgia, 'Times New Roman', serif; padding: 25px 0 1em; }

#ideas-of-march-2013 { margin: 0 auto; width: 95%; }

    #ideas-of-march-2013 hgroup { margin: 0 0 1.5em;  }
        #ideas-of-march-2013 h1 { font-size: 36px; line-height: 1.2; margin: 0 0 0.25em; }
        #ideas-of-march-2013 h2, #ideas-of-march-2013 .h2 { font: normal 18px Georgia, 'Times New Roman', serif; font-style: italic; color: #888; margin: 0 0 1.5em; }
        #ideas-of-march-2013 hgroup h2 { margin-bottom: 0.25em; }
    #ideas-of-march-2013 p { font-size: 18px; color: #111; }

    .main-text { background: transparent url(dagger.png) no-repeat 0 0.1em; }
        hgroup { padding-left: 55px; min-height: 150px; }

    .ideas-list ul { margin-left: 1em; }
        .ideas-list li { margin-bottom: 0.5em; }
        .ideas-list > li { margin-bottom: 1em; }
	
	#ideas-of-march-2013 a { color: #06c; border-bottom: none; }
	#ideas-of-march-2013 a:hover, #ideas-of-march-2013 a:focus { text-decoration: underline; }

@media screen and (min-width: 800px) {

    #ideas-of-march-2013 { width: 100%; padding-bottom: 0; }

    .main-text { float: left; width: 41%; padding: 4.5em 2% 0 7%; background-position: 2% 4.25em}
        hgroup { padding: 0; min-height: auto; }

    .ideas { float: right; width: 50%; background: transparent url(tile.jpg) repeat-y 0 0; position: relative; }

        .nv-title-wrap { width: 100%; position: absolute; top: 92px; }
        #ideas-of-march-2013 .nv-title { font: normal 13px 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  color: #fff; background: #3a6fd6; padding: 2px 0 2px 11px; margin-left: 48px; }

        .ideas-list { font-family: Helvetica, Arial, sans-serif; list-style: none; margin-left: 60px; }
            .ideas-list ul { list-style: none; }
            .ideas-list li { margin-bottom: 0.25em; }
        
            .top-piece { background: transparent url(top-piece.jpg) no-repeat 0 0; width: 100%; height: 153px; position: relative; left: -27px; padding-right: 27px; }
                .centered-app-title { background: transparent url(centered-app-title.png) no-repeat 0 0; width: 55px; height: 121px; position: absolute; left: 50%; margin-left: 70px; top: 26px; }
            .bottom-piece { background: transparent url(bottom-piece.jpg) no-repeat 0 0; width: 100%; height: 115px; position: relative; left: -49px; padding-right: 49px; }
}
		
		
/*#ideas-of-march-2013 ::selection { background: #ff611b; color: #fff; }
#ideas-of-march-2013 ::-moz-selection { background: #ff611b; color: #fff; }*/