#article-area-wrap { background: #fff url(bg.png) repeat-x 0 -50px; }

#object-value-pricing { margin: 0 auto; min-width: 842px; padding: 520px 0 50px; background: transparent url(header.png) no-repeat 50% -50px; position: relative; }
	#object-value-pricing p, #object-value-pricing hgroup, #object-value-pricing ul { width: 642px; margin: 0 auto 1.5em; font: 18px/1.6 Helvetica, Arial, sans-serif; }
	#object-value-pricing hgroup { position: absolute; width: 100%; top: 409px; }
		#object-value-pricing h1 { font: bold 46px Helvetica, Arial, sans-serif; text-align: center; margin-bottom: 0.1em; letter-spacing: -2px; }
			#object-value-pricing h1 b { background: white; padding: 0 10px; }
		#object-value-pricing h2 { font: bold 15px Helvetica, Arial, sans-serif; text-align: center; margin-bottom: 0.2em; }
	
		
#object-value-pricing ::selection { background: #c20000; color: #fff; }
#object-value-pricing ::-moz-selection { background: #c20000; color: #fff; }