/*-------------------------------------------    
    Contact
-------------------------------------------*/
#contact-landing .main, #thanks-landing .main { 
    @media screen and (min-width: $originalLayout){
        width: 550px; border: none; border-right: 1px dotted #7f7f7f; padding: 0 30px 0 0; position: relative; 
    }
}
    .contact-heading { font: 84px $fontStack; font-size: 50px; margin: 0; 
        @media screen and (min-width: 619px){
            font-size: 84px;
        }
    }

    #comment-form input[type="text"], #contact-form input[type="text"], #contact-form select { width: 350px; width: 90%; }
    // #comment-form textarea, #contact-form textarea { width: 550px; }

@media screen and (min-width: $originalLayout){
    #contact-name, #contact-email, #contact-website, #contact-subject { width: 350px !important; }
}
    
#contact-landing .sub, #thanks-landing .sub { margin: 0 0 3em;
    @media screen and (min-width: $originalLayout){
        width: 170px; padding: 0 0 0 30px; 
    }
}
    .sidebar-heading { font: 16px $fontStack; margin: 0; color: #888; margin: 0 0 0.85em; }
    #contact-landing .sub ul { margin: 0 0 3em; }
    #contact-landing .sub li { margin: 0 0 1em; }
        #contact-landing .sub li a { display: block; border: none; padding-left: 25px; min-height: 16px; font-style: italic; transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; -webkit-transition: all 0.25s ease-out; -o-transition: all 0.25s ease-out; }
        #contact-landing .sub li a:link, #contact-landing .sub li a:visited { color: #686868; }
        #contact-landing #twitter a { background: transparent url(/-/i/twitter_16.png) no-repeat 0 center; }
        #contact-landing #dribbble a { background: transparent url(/-/i/dribbble_16.png) no-repeat 0 center; }
        #contact-landing #flickr a { background: transparent url(/-/i/flickr_16.png) no-repeat 0 center; }
        #contact-landing #cargo a { background: transparent url(/-/i/cargo_16.png) no-repeat 0 center; }
        #contact-landing #forrst a { background: transparent url(/-/i/forrst_16.png) no-repeat 0 center; }
        #contact-landing #linkedin a { background: transparent url(/-/i/linkedin_16.png) no-repeat 0 center; }
        #contact-landing #readernaut a { background: transparent url(/-/i/readernaut_16.png) no-repeat 0 center; }
        
        #contact-landing .sub li a:hover, #contact-landing .sub li a:focus { background-position: 3px center !important; color: #000; }
        
    #contact-landing .sub small { border-top: 1px solid #e5e5e5; padding: 2em 0 0; }
    #contact-landing .sub small:before { content: "* "; }

#contact-landing div.error { background: #fff9b9 url(/-/i/error.png) no-repeat 15px 1em; border: 1px solid #ffeb12; font-style: italic; padding: 1.5em 10px 1.5em 60px; margin: 0 0 1.5em; min-height: 25px; }
    #contact-landing p:last-child { margin-bottom: 0; }

/*-------------------------------------------    
    Thanks
-------------------------------------------*/   
#thanks-landing .main { min-height: 100px; }
    /*#thanks-landing .main header h1 { background-image: url(/-/i/thanks.png); width: 330px; height: 62px; margin: 0 0 15px; }*/