@font-face {
  font-family: 'Stag Web';
  src: url('/-/f/Stag-Bold-Web.eot');
  src: url('/-/f/Stag-Bold-Web.eot?#iefix') format('embedded-opentype'),
     url('/-/f/Stag-Bold-Web.woff') format('woff'),
     url('/-/f/Stag-Bold-Web.ttf') format('truetype'),
     url('/-/f/Stag-Bold-Web.svg#Stag Web') format('svg');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}