/*-------------------------------------------    
    Basic Structure
-------------------------------------------*/
#masthead-wrap { border-top: 1px solid #231f20; margin: 0 0 30px; min-height: 50px;
    @media screen and (min-width: $originalLayout){
        border-bottom: 1px solid #bdbdbd; height: 40px;
    }
}

#article #masthead-wrap, #about-landing #masthead-wrap { margin-bottom: 0; }

    .logo-new { 
        float: none; max-width: 75%; margin: 1em 0 0; 
        @media screen and (min-width: $originalLayout){
            max-width: none; width: 400px; float: left;
        }
    }

    .logo { position: relative; 
        a { border: none; }
        &:after { 
            @media screen and (min-width: $originalLayout){
                display: block; content: "Back to the Home Page"; font-family: $fontStack; font-size: 14px; color: #aaa; position: absolute; width: 22em; top: -5px; left: 83px; @include transition (all 0.5s ease-out); opacity: 0; z-index: 2000; 
            }
        }
        &:hover:after { 
            @media screen and (min-width: $originalLayout){
                left: 93px; opacity: 1;
            }
        }
    }

    .logo-link { background: transparent url(/-/s/dmall-website-logo-small2.svg) no-repeat 0 0; width: 180px; height: 180px; position: absolute; top: -107px; left: -65px; z-index: 2001; }

    #masthead {
        @media screen and (min-width: $originalLayout){
            width: 800px; margin: 0 auto;
        }
    }

    .main-nav { z-index: 2000; background: #ececec; margin: 1em 0 20px; padding: 0; border-bottom: 1px solid #ddd; position: relative; top: 36px;
        @media screen and (min-width: $originalLayout){
            float: right; background: none; border: none; top: -15px;
        }

        .current a { color: $navLinkHover; }
    }
        .main-nav-item { border-top: 1px solid #ddd; margin: 0; padding: 0;            
            @media screen and (min-width: $originalLayout){
                float: left; margin: 0 0 0 3.5em; border: none;
            }

            a, mark { font-family: $fontStack; color: $blackSubstitute; border: none; font-size: 34px; display: block; padding: 0.25em 0 0.25em 0.5em; margin: 0;
                @media screen and (min-width: $originalLayout){
                    font-size: 14px; padding: 0;
                }

                &:hover { color: $navLinkHover; }
            }

            mark { color: $navLinkHover; } 

        }

    #home {

        .logo-new { 
            @media screen and (min-width: $originalLayout){
                position: absolute;
            }
            @media screen and (min-width: 1073px){
                top: 14px; left: -135px; z-index: 2000;
            }
        }

        .masthead-inner {
            @media screen and (min-width: 1073px){
                position: relative;
            }
        }

        #masthead-wrap { height: auto; }

        #masthead { 
            @media screen and (min-width: $originalLayout){
                height: 128px;
            }
        }

        .main-nav { top: 9px;
            @media screen and (min-width: $originalLayout){
                top: 39px;
            }
            @media screen and (min-width: 1073px){
                top: 54px;
            }
        }
            .main-nav-item { 
                @media screen and (min-width: $originalLayout){
                    margin: 0 0 0 2em;
                }
                @media screen and (min-width: 1073px){
                    margin: 0 0 0 3em;
                }

                a { 
                    @media screen and (min-width: $originalLayout){
                        font-size: 17px; 
                    }
                }               
            }
    }

.wrap, .wrap800, #comments-wrap { margin: 0 auto; width: 95%;
    @media screen and (min-width: $originalLayout){    
         width: 800px; margin: 0 auto;
    }
}

.read-next { padding: 2.75em 0; border-bottom: 1px solid #bbb; margin-bottom: 2em; }
    .read-next-caption, .read-next-headline { text-align: center; display: block; }
    .read-next-caption { font-family: $sansStack; text-transform: uppercase; font-weight: bold; letter-spacing: 0.1em; }
    .read-next-headline { line-height: 1.2; }

.site-footer { border-top: 1px solid #d3d2d2; border-bottom: 16px solid #231f20; margin-bottom: 50px; padding: 1em 0 1.5em; font-family: 'Trebuchet MS', Arial, sans-serif; clear: both; 
    
    li { display: inline; margin: 0 20px 0 0; font-size: 11px; }
        a { color: #656262; border-bottom: 1px dotted #656262;
            &:hover, &:focus { border-bottom-style: solid; }
        }
}
    
    #home footer { /*border: none;*/ width: 95%; max-width: 800px; margin: 0 auto 50px;
        @media screen and (min-width: $originalLayout){
            padding: 40px 0 4em; border: none;
        }
    }