#article-area-wrap { background: #fdfdfd url(i/screen/tile.png) repeat-x 0 0; font: normal 16px/1.6 Helvetica, Arial, sans-serif; color: #d2d2d2; }

#farewell-bss { margin: 0 auto; padding: 700px 0 50px; position: relative; background: transparent url(i/screen/flag.png) no-repeat right 81px; }

	#farewell-bss h1 { font: 51px Georgia, 'Times New Roman', serif; margin-bottom: 1em; }
		#farewell-bss h1 .char2 { margin-left: -0.10em; margin-right: 0.025em; }
	#farewell-bss p { font-size: 16px; color: #858585; }
	
		#farewell-bss a { color: #bc0200; border-bottom: none; }
		#farewell-bss a:hover, #farewell-bss a:focus { color: #192127; }
		
		
#farewell-bss ::selection { background: #bc0200; color: #fff; }
#farewell-bss ::-moz-selection { background: #bc0200; color: #fff; }

@media screen and (min-width: 830px){
	#farewell-bss { width: 833px; padding-top: 340px; }
		#farewell-bss h1 { width: 482px; margin-bottom: 100px; }
		#farewell-bss p { width: 462px; }
}