

/*-------------------------------------------    
    Fonts     
-------------------------------------------*/



/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { 
	content: 'mini'; 
	display: none; 
}



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { 
	margin: 0; 
	padding: 0; 
}

html { 
	font-size: 62.5%; /* for rems */
} 

/* Thanks, Paul Irish! https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
 	box-sizing: border-box;
}

*, *:before, *:after {
 	box-sizing: inherit;
}

body { 
	font: normal 62.5%/1.5 $mainFontStack;
	color: $textColor; 

	&.breveNewsBook-loaded {
		font-family: $wfSerifStack;
	}
}



/* block level */

h1, 
.h1 { 
	@include dm-u-text--xxl;
	margin: 0 0 0.5em; 
}

h2, 
.h2 { 
	@include dm-u-text--xl;
	margin: 0 0 1em; 
}

h3, 
.h3 { 
	@include dm-u-text--l;
	margin: 0 0 1em; 
}

h4, 
h5, 
h6, 
.h4, 
.h5, 
.h6 { 
	@include dm-u-text--m;
	margin: 0 0 1em; 
}

.breveNewsBold-loaded {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'BreveNews-Bold';
	}
}

p, 
ul, 
dl, 
ol, 
table { 
	@include dm-u-text--s;
	margin: 0 0 1.5em; 
}

ul,
ol {
	margin-left: ($spacing * 3) + px;
}

form { 
	margin: 0 0 1.5em; 
}



/* inline */

label { 
	@include dm-u-text--s;
}

input, 
select, 
textarea {  

}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 

}

input.empty::-webkit-input-placeholder, 
textarea.empty::-webkit-input-placeholder { 
	color: red; 
}

input.empty:-moz-placeholder, 
textarea.empty:-moz-placeholder { 
	color: red; 
}

.error { 
	color: red; 
}

table { 

}
    
    td { 
    	padding: 0.25em 1em; 
    	border-top: 1px solid #aaa; 
    }


em,
cite { 
	font-style: italic; 

	.breveNewsBookItalic-loaded & {
		font-family: "BreveNews-BookItalic";
	}
}

strong { 
	font-weight: bold; 

	.breveNewsBold-loaded & {
		font-family: "BreveNews-Bold";
	}
}

mark { 
	background: none; 
	font-style: normal; 
}

video { 
	width: 100%; 
	height: auto; 
	max-width: 100%;
}

a { 
	background-image: linear-gradient(to top,
	    rgba(255,100,7,0) 7%,
	    rgba(255,100,7,1) 7%,
	    rgba(255,100,7,1) 11%,
	    rgba(255,100,7,0) 11%
    );
	color: $textColor;
	text-decoration: none; 
	/*.transition(all, 0.25s, linear);*/ 
	
}

a:hover, 
a:focus { 
	color: red; 
	color: $mainActiveColor;
}

img { 
	display: block; 
	margin: 0 10px 10px 0; 
	max-width: 100%; 
}

a img { 
	border: none; 
}

i { 
	font-style: normal; 
}

b { 
	font-weight: normal; 
}

abbr, 
abbr[title], 
acronym { 
	font-size: 75%; 
	letter-spacing: 0.2em; 
	text-transform: uppercase; 
	border: none; 
}

code { 
	font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; 
	color: #999; 
}

sub, 
sup { 
	line-height: 0; 
}

::selection { 
	background: #ffe400;
	background: $orange; 
	color: #fff;
}

::-moz-selection { 
	background: #ffe400;
	background: $orange;
	color: #fff;
}