/*
*************************************************

DANMALL.ME
Display Patterns

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.dm {

	&-dp {

		// blurb

		&-textBlurb {

			@include dm-u-marginBottom--xs;
			@include dm-u-padding--xs;
			
			&_header {
				@include dm-u-display--flex;

				// custom
				flex-direction: column-reverse;
			}

			&_title {
				@include dm-u-text--m;
				@include dm-u-leading--xs;
				@include dm-u-font--normal;	
			}

			&_time {
				@include dm-u-text--xs;
				@include dm-u-font--sans;
				@include dm-u-uppercase;
				@include dm-u-marginBottom--xs;

				// custom 
				color: $cloudy;
			}

			&_dek {
				@include dm-u-text--s;
				@include dm-u-marginBottom--xs;
			}

			&_tags {

				@include dm-u-marginLeft--0;

				&_item {
					@include dm-u-text--xs;
					@include dm-u-display--inline;
					@include dm-u-text--xs;
					@include dm-u-font--sans;
					@include dm-u-uppercase;
					@include dm-u-marginRight--s;

					// custom
					color: $silverRust;

					&:before {
						content: "#";
						margin-right: 0.1em;
					}
				}
				
			}

		}	


		// inlineNav 

		&-inlineNav {

			@include dm-u-bullets--none;
			@include dm-u-marginLeft--0;
			@include dm-u-padding--xs;

			&_item {
				@include dm-u-display--inlineBlock;

				&:after {
					@include dm-u-marginLeft--xs;
					@include dm-u-marginRight--xs;				
					@include dm-u-font--normal;				

					// custom
					color: $silverRust;
					content: "/";
				}

				&:last-child:after {
					content: "";
					@include dm-u-margin--0;
				}

				&--active {
					@include dm-u-font--bold;
				}

			}

		}



		// vertically separated nav

		&-vertSepNav {

			ul {
				@include dm-u-bullets--none;	
				//@include dm-u-marginLeft--0;
				//@include dm-u-padding--xs;
				@include dm-u-margin--xs;

				// custom
				border-top: 1px solid $cloudy;
			}

			&_item {

				border-bottom: 1px solid $cloudy;

				a, 
				mark {
					@include dm-u-bg--none;
					@include dm-u-display--block;
					@include dm-u-padding--xs;
					@include dm-u-paddingLeft--0;
				}

				&--active {
					@include dm-u-font--bold;
				}
			}


			&_trigger {
				@include dm-u-text--s;
				@include dm-u-marginBottom--xs;
				@include dm-u-move--offscreen;									
			}

		}	


	}

}