/*
*************************************************

DANMALL.ME
Display Patterns

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.dm {

	&-dp {

		/*-------------------------------------------    
			Headlines     
		-------------------------------------------*/


		// boxed headline

		&-boxedHeadline {

			@include dm-u-text--m;
			@include dm-u-font--sans;

			@media screen and (min-width: 945px){				
				@include dm-u-text--s;
				@include dm-u-uppercase;
				@include dm-u-display--inlineBlock;
				@include dm-u-padding--xs;

				// improvisations
				background: $sandstone;
				color: #fff;
			}

		}


		// pointer headline

		&-pointerHeadline {
			@include dm-u-text--s;
			@include dm-u-font--sans;
			@include dm-u-uppercase;
			@include dm-u-align--center;
			@include dm-u-padding--xs;
			@include dm-u-paddingBottom--l;
			@include dm-u-pos--relative;

			
			// improvisations
			background: $shipGray;
			color: #fff;			
			width: 60%;
			margin: 0 auto 2em;

			// Thanks Clippy! (No, not that Clippy. This Clippy.) http://bennettfeely.com/clippy/
			-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
			clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);

			
		}




		/*-------------------------------------------    
		    Text     
		-------------------------------------------*/

		// blurb

		&-textBlurb {

			@include dm-u-marginBottom--xxl;

			&--small {
				@include dm-l-col--50;
				@include dm-u-paddingRight--m;

				// improvisations
				min-height: 130px;
			}
			
			&_header {
				@include dm-u-display--flex;

				// improvisations
				flex-direction: column-reverse;
			}

			&_title {
				@include dm-u-text--m;
				@include dm-u-leading--m;
				@include dm-u-font--normal;	

				.dm-dp-textBlurb--small & {
					@include dm-u-text--s;
				}
			}

			&_badge {
				@include dm-u-font--sans;
				@include dm-u-uppercase;
				@include dm-u-display--inlineBlock;
				@include dm-u-marginBottom--xs;

				// improvisations
				background: $turbo;
				padding: 4px;
			}

			&_time,
			&_location,
			&_type {
				@include dm-u-text--xs;
				@include dm-u-font--sans;
				@include dm-u-uppercase;
				@include dm-u-marginBottom--xs;

				// improvisations 
				color: $cloudy;
			}

			&_dek {
				@include dm-u-text--s;
				@include dm-u-marginBottom--xs;
			}

			&_tags {

				@include dm-u-marginLeft--0;
				@include dm-u-leading--s;

				&_item {
					@include dm-u-text--xs;
					@include dm-u-display--inline;
					@include dm-u-text--xs;
					@include dm-u-font--sans;
					@include dm-u-uppercase;
					@include dm-u-marginRight--s;

					// improvisations
					color: $silverRust;

					&:before {
						content: "#";
						margin-right: 0.1em;
					}
				}
				
			}

		}	



		// quote

		&-quote {
			@include dm-u-text--m;
			@include dm-u-marginBottom--xl;

			&_attribution {
				@include dm-u-font--sans;
				@include dm-u-fontStyle--normal;
				
				// improvisations
				font-size: 12px;
				font-size: 1.2rem;
				//margin-top: -1em;

				&:before {
					// improvisations
					content: "—";
				}
			}

		}	


		// see all

		&-seeAll {
			@include dm-u-font--sans;

			&:before {
				@include dm-u-display--block;
				@include dm-u-marginBottom--xl;

				// improvisations
				content: "";
				width: 50px;
				height: 5px;
				background: $silverRust;
			}

			&_link {

				// improvisations
				background: none;
				color: $orange;

				&:after {
					@include dm-u-marginLeft--xs;
					content: "→";					
				}
			}
		}





		/*-------------------------------------------    
		    Navigation     
		-------------------------------------------*/


		// inlineNav 

		&-inlineNav {

			@include dm-u-bullets--none;
			@include dm-u-marginLeft--0;
			//@include dm-u-padding--xs;

			&_item {
				@include dm-u-display--inlineBlock;

				&:after {
					@include dm-u-marginLeft--xs;
					@include dm-u-marginRight--xs;				
					@include dm-u-font--normal;				

					// improvisations
					color: $silverRust;
					content: "/";
				}

				&:last-child:after {
					content: "";
					@include dm-u-margin--0;
				}

				&--active {
					@include dm-u-font--bold;
				}

			}

		}



		// vertically separated nav

		&-vertSepNav {
			
			@include dm-u-bullets--none;	
			@include dm-u-margin--xs;

			// improvisations
			border-top: 1px solid $cloudy;

			&--noBorders {

				// improvisations
				border: none;
			}

				&_item {

					border-bottom: 1px solid $cloudy;

					a {
						@include dm-u-bg--none;
						@include dm-u-display--block;
						@include dm-u-padding--xs;
						@include dm-u-paddingLeft--0;
					}

					mark {
						@include dm-u-display--block;
						@include dm-u-padding--xs;
						@include dm-u-paddingLeft--0;
					}

					&--active {
						@include dm-u-font--bold;
					}
				}


			&_trigger {
				@include dm-u-text--s;
				@include dm-u-marginBottom--xs;
				@include dm-u-move--offscreen;									
			}

		}


	}

}