/*
*************************************************

PROJECT NAME
Layout

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.dm {

	&-l {

		/*-------------------------------------------    
		    Widths
		-------------------------------------------*/

		&-width--100 {
			@include dm-l-width--100;
		}

		&-width--75 {
			@include dm-l-width--75;
		}

		&-width--66 {
			@include dm-l-width--66;
		}

		&-width--50 {
			@include dm-l-width--50;
		}

		&-width--33 {
			@include dm-l-width--33;
		}

		&-width--25 {
			@include dm-l-width--25;
		}

		&-width--20 {
			@include dm-l-width--20;
		}

		&-maxWidth--1000 {
			@include dm-l-maxWidth--1000;
		}




		/*-------------------------------------------    
		    Columns
		-------------------------------------------*/

		&-col--100 {
			@include dm-l-col--100;
		}

		&-col--75 {
			@include dm-l-col--75;
		}

		&-col--66 {
			@include dm-l-col--66;
		}

		&-col--50 {
			@include dm-l-col--50;
		}

		&-col--33 {
			@include dm-l-col--33;
		}

		&-col--25 {
			@include dm-l-col--25;
		}

		&-col--20 {
			@include dm-l-col--20;
		}



		/*-------------------------------------------    
		    Article Grid
		-------------------------------------------*/

		&-articleGrid {

			@media screen and (min-width: 840px) {
				display: grid;
				max-width: 1248px;
				margin: 0 auto;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-template-areas: 
						". dm-c-pageHeader dm-c-pageHeader dm-c-pageHeader dm-c-pageHeader dm-c-pageHeader dm-c-pageHeader ."
						". . dm-c-articleWell dm-c-articleWell dm-c-articleWell dm-c-articleWell . ."
						
			}

			&--main {
				@media screen and (min-width: 840px) {
					grid-column: 2 / span 6;

				}				
			}

		}


	}

}