/*
*************************************************

DANMALL.ME
General Screen Styles

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

@import 'variables.scss';
@import 'utilities.scss';
@import 'layout.scss';
@import 'base.scss';
// @import 'global.scss';



/*-------------------------------------------    
	Components
-------------------------------------------*/

.dm {

	// siteNav

	&-c-siteNav {

		@extend .dm-u-hide;

		&_link {
			@extend .dm-u-text--s;
			@extend .dm-u-marginBottom--xs;
			@extend .dm-u-hide;
		}

	}




	// pageHeader

	&-c-pageHeader {

		&_title {
			@extend .dm-u-font--normal;
			@extend .dm-u-heading--xxl;
			@extend .dm-u-padding--xs;
			@extend .dm-u-marginBottom--xs;
		}

	}



	// inlineNav 

	&-c-inlineNav {

		@extend .dm-u-bullets--none;
		@extend .dm-u-marginLeft--0;
		@extend .dm-u-padding--xs;

		&_item {
			@extend .dm-u-display--inlineBlock;

			&:after {
				@extend .dm-u-marginLeft--xs;
				@extend .dm-u-marginRight--xs;				
				@extend .dm-u-font--normal;				

				// custom
				color: $silverRust;
				content: "/";
			}

			&:last-child:after {
				content: "";
				@extend .dm-u-margin--0;
			}

			&--active {
				@extend .dm-u-font--bold;
			}

		}

	}



	// articleChunk

	&-c-articleChunk {

		@extend .dm-u-marginBottom--xs;
		@extend .dm-u-padding--xs;
		
		&_header {
			@extend .dm-u-display--flex;

			// custom
			flex-direction: column-reverse;
		}

		&_title {
			@extend .dm-u-heading--m;
			@extend .dm-u-leading--xs;
			@extend .dm-u-font--normal;	
		}

		&_time {
			@extend .dm-u-text--xs;
			@extend .dm-u-font--sans;
			@extend .dm-u-uppercase;
			@extend .dm-u-marginBottom--xs;

			// custom 
			color: $cloudy;
		}

		&_dek {
			@extend .dm-u-text--s;
			@extend .dm-u-marginBottom--xs;
		}

		&_tags {

			@extend .dm-u-marginLeft--0;

			&_item {
				@extend .dm-u-text--xs;
				@extend .dm-u-display--inline;
				@extend .dm-u-text--xs;
				@extend .dm-u-font--sans;
				@extend .dm-u-uppercase;
				@extend .dm-u-marginRight--s;

				// custom
				color: $silverRust;

				&:before {
					content: "#";
					margin-right: 0.1em;
				}
			}
			
		}

	}

}


/*-------------------------------------------    
	Third-Party
-------------------------------------------*/

// Carbon Ads

#carbonads {
	@extend .dm-u-clearfix;
	@extend .dm-u-padding--xs;
	@extend .dm-u-marginBottom--s;

	// custom
	background: $alabaster;
}

	.carbon-wrap {
		
	}

		.carbon-img {
			@extend .dm-u-float--left;
			@extend .dm-u-bg--none;
		}

		.carbon-text {
			//@extend .dm-u-text--xs;
			@extend .dm-u-font--sans;
			@extend .dm-u-bg--none;

			// custom
			font-size: 12px;
			font-size: 1.2rem;
		}

		.carbon-poweredby {
			@extend .dm-u-text--xs;
			@extend .dm-u-show;
			@extend .dm-u-font--sans;
			@extend .dm-u-bg--none;
			@extend .dm-u-marginTop--xs;
		}



/*-------------------------------------------    
	Page Specific: Articles
-------------------------------------------*/

.dm-page--articles {

	@media screen and (min-width: 520px) {

		.dm-c-articleChunk {
			width: 50%;
			float: left;
			padding-right: ($spacing * 4) + px;
		}

	}


	@media screen and (min-width: 850px) {

		#carbonads {
			position: fixed;
			right: 0;
			top: 170px;
			width: 24%;
		}

		.dm-c-articlesList {
			width: 76%;
		}

	}

	@media screen and (min-width: 1054px) {

		padding-top: 235px;

		.dm-c-articleChunk,
		.dm-c-inlineNav,
		.dm-c-pageHeader_title {
			padding-left: ($spacing * 4) + px;
		}

		.dm-c-pageHeader {
			background: rgba(255, 255, 255, 0.93);
			padding-top: ($spacing * 4) + px;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}

			.dm-c-pageHeader_title {

				font-size: 72px;
				// margin-top: ($spacing * 4) + px;
				margin-bottom: ($spacing) + px;
				padding-bottom: 0;
				position: relative;

				&:before {
					content: "";
					position: absolute;
					left: ($spacing * 4) + px;
					top: -8px;
					width: 140px;
					height: 10px;
					background: $shipGray;
				}

				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: -8px;
					width: ($spacing * 4) + px;;
					height: 10px;
					background: $sandstone;
				}

			}

		.dm-c-inlineNav {
			padding-top: 0;
		}

	}

}