/*
*************************************************

DANMALL.ME
General Screen Styles

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

@import 'variables.scss';
@import 'mixins.scss';
@import 'utilities.scss';
@import 'layout.scss';
@import 'displayPatterns.scss';
@import 'base.scss';



/*-------------------------------------------    
	Components
-------------------------------------------*/

.dm {

	// pageHeader

	&-c-pageHeader {

		@include dm-u-padding--m;

		&:before {
			@include dm-u-display--block;
			@include dm-u-marginBottom--l;
			@include dm-u-marginLeft--m;

			// improvisations
			content: "";
			background: $silverRust;
			height: 60px;
			width: 3px;
			margin-top: -50px;
		}

		&_title {
			@include dm-u-font--normal;
			@include dm-u-text--l;
			@include dm-u-marginBottom--xs;
			@include dm-u-leading--s;
		}

		

		&_date {
			@include dm-u-font--sans;
			@include dm-u-text--s;
			@include dm-u-font--normal;
		}

	}


		&-svg-siteLogo {
			width: 70px;
		}




	// site nav

	&-c-siteNav {

		@include dm-u-marginBottom--m;
		@include dm-u-font--sans;		
		@include dm-u-uppercase;	

		/*
		@media screen and (min-width: 850px) {			
			//@include dm-u-marginLeft--m;

			// improvisations
			width: 73%;
		}

		@media screen and (min-width: 1054px) {			
			@include dm-u-marginLeft--m;

			// improvisations
			width: 73%;
		} */

		ul {
			@include dm-u-bullets--none;
			@include dm-u-align--right;

			@media screen and (min-width: 700px) {
				@include dm-u-marginTop--l;
			}

		}
		
			&_item {
				@include dm-u-text--s;
				@include dm-u-align--right;
				//@include dm-u-marginBottom--xs;

				// improvisations 
				font-size: 10px;
				font-size: 1rem;
				margin-bottom: 5px;

				@media screen and (min-width: 700px) {
					@include dm-u-display--inlineBlock;
					@include dm-u-marginLeft--s;
					@include dm-u-marginBottom--xl;
				}

				@media screen and (min-width: 780px) {
					@include dm-u-marginLeft--l;
				}

				a,
				mark {
					@include dm-u-display--inlineBlock;
					@include dm-u-bg--none;
					//@include dm-u-padding--xs;

					// improvisations
					padding: 6px;
				}

				&--active a,
				&--active mark {
					background: $sandstone;
					color: #fff;
				}

			}

	}



	// preamble

	&-c-preamble {

		@include dm-u-padding--m;
		@include dm-u-marginBottom--xs;

		// improvisations
		background: $sandstone;

	}




	// testimonials

	&-c-testimonials {

		@include dm-u-padding--m;
		@include dm-u-paddingTop--xl;

		// improvisations
		background: $ecru;

		& .dm-dp-quote {
			&:after {
				@include dm-u-display--block;
				@include dm-u-marginTop--xl;

				// improvisations
				content: "";
				width: 50px;
				height: 5px;
				background: $silverRust;
			}

			&:last-child:after {
				@include dm-u-hide;
			}
		}

	}




	// hire me

	&-c-hireMe {

		@include dm-u-padding--m;

		// improvisations

		&_step {


			.dm-dp-seeAll {

				@include dm-u-marginTop--s;
				@include dm-u-marginBottom--m;

				// improvisations
				font-size: 14px;
				font-size: 1.4rem;
			}


		}
	}

	&-c-articlesList {

		@media screen and (min-width: 1020px) {
			width: 76%;
		}

	}




	// comments

	&-c-comments {
		@include dm-u-padding--m;
	}



	// up next

	&-c-upNext {
		@include dm-u-margin--m;
		@include dm-u-paddingTop--m;

		// improvisations
		border-top: 1px solid $silverRust;

		&_kicker {
			@include dm-u-font--sans;
			@include dm-u-uppercase;

			// improvisations
			font-size: $spacing * 1.5px;
			color: $cloudy;
		}

		&_title {
			@include dm-u-text--l;
			@include dm-u-leading--s;
			@include dm-u-font--normal;

			a {
				@include dm-u-bg--none;
			}

			&_lastWord {
				@include dm-u-display--inlineBlock;
				@include dm-u-pos--relative;

				// improvisations
				white-space: nowrap;
				padding-right: $xxl * 1px;

				&:after {
					@include dm-u-pos--absolute;
					@include dm-u-marginLeft--s;

					// improvisations
					content: "";
					width: 40px;
					height: 3px;
					background: $orange;
					display: block;
					top: 0.6em;
					right: 0;
				}

			}
		}

	}





	// siteFooter

	&-c-siteFooter {
		
		@include dm-u-clear--both;
		@include dm-u-font--sans;
		@include dm-u-margin--xs;
		@include dm-u-padding--s;
		@include dm-u-paddingTop--m;
		@include dm-u-marginBottom--xl;

		// improvisations
		border-top: 5px solid $sandstone;

		&_copyright {

			@media screen and (min-width: 687px){
				@include dm-l-col--66;
			}

		}

		&_twitter {
			@media screen and (min-width: 687px){
				@include dm-l-col--33;
			}
		}

	}

}


/*-------------------------------------------    
	Third-Party
-------------------------------------------*/

// Carbon Ads

#carbonads {
	@extend .dm-u-clearfix;
	@include dm-u-padding--xs;
	@include dm-u-marginBottom--s;

	// improvisations
	background: $alabaster;

	.dm-page--landing & {

		@media screen and (min-width: 1020px) {

			@include dm-u-pos--fixed;

			// improvisations
			right: 0;
			top: 130px;
			width: 24%;

		}

	}
}

	.carbon-wrap {
		
	}

		.carbon-img {
			@include dm-u-float--left;
			@include dm-u-bg--none;
		}

		.carbon-text {
			//@include dm-u-text--xs;
			@include dm-u-font--sans;
			@include dm-u-bg--none;

			// improvisations
			font-size: 12px;
			font-size: 1.2rem;
		}

		.carbon-poweredby {
			@include dm-u-text--xs;
			@include dm-u-show;
			@include dm-u-font--sans;
			@include dm-u-bg--none;
			@include dm-u-marginTop--xs;
		}


/*-------------------------------------------    
	Page Specific: Home
-------------------------------------------*/

.dm-page--home {

	.dm-c-siteNav {
		@include dm-l-width--100;
		@include dm-u-margin--0;
		@include dm-u-padding--0;
	}

}

	.dm-c-pricingDesignContainer {
		//@include dm-l-col--50;
		@include dm-u-marginBottom--l;

		// improvisations
		border: 1px solid $silverRust;
	}


/*-------------------------------------------    
	Page Specific: Articles
-------------------------------------------*/

.dm-page--articles {

	.dm-dp-textBlurb {

		@media screen and (min-width: 520px) {
			
			@include dm-l-col--50;
			@include dm-u-paddingRight--xl;

			// improvisations
			min-height: 260px;

		}

		@media screen and (min-width: 1200px) {
			@include dm-l-col--33;

			// improvisations
			min-height: 280px;
		}

	}

	@media screen and (min-width: 1020px) {

		padding-top: 65px;

		.dm-c-siteHeader {
			@include dm-u-pos--fixed;

			// improvisations
			width: 100%;
			background: rgba(255, 255, 255, 0.93);
			height: 120px;
			top: -2em;
			left: 0;
		}

			.dm-svg-siteLogo {
				@include dm-u-padding--0;

				// improvisations
				width: 40px;
			}

		.dm-c-pageHeader {

			&_title {
				@include dm-u-pos--fixed;

				// improvisations
				top: 1.1em;
				left: 100px;

				&:before {
					@include dm-u-pos--absolute

					// improvisations;
					content: "";
					background: $silverRust;
					height: 40px;
					width: 2px;
					left: -0.6em;
					top: 0;
				}

			}

			&:before {
				@include dm-u-hide;
			}

		}

	}

}