/*-------------------------------------------    
    RIF Nav
-------------------------------------------*/
.rif-nav { background: #222; padding: 2em 0; }
    .rif-nav .section-header { font-family: "adelle", Georgia, 'Times New Roman', serif; font-weight: 300; color: #bbb; text-align: center; font-size: 24px; font-style: italic; line-height: 1.3; margin: 0 0 2em; }
        .rif-nav .section-header strong { color: #ddd; font-weight: normal; font-style: normal; }
    .rif-nav .category-header { color: #555; font-family: "proxima-nova", Helvetica, Arial, sans-serif; font-weight: 600; text-transform: uppercase; font-size: 24px; }
    .rif-nav ul { margin-left: 20px; }
        .rif-nav li { font-size: 16px; color: #999; }
    
    .rif-nav a { color: #fe0; border: none; }
    .rif-nav a:hover, .rif-nav a:focus { color: #fff; }

    @media screen and (min-width: 800px){
        .rif-nav .col50 { float: left; width: 48%; }
        .rif-nav .col50-first { margin-right: 4%; }

        .rif-nav .inner { width: 700px; margin: 0 auto; }
    }