/*
*************************************************

DANMALL.ME
Utilities

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

.dm {

	&-u {

		/*-------------------------------------------    
		    Headings & Text
		-------------------------------------------*/


		&-heading--xs,
		&-text--xs {
			font-size: $xs + px;
			font-size: $xs/10 + rem;
		}

		&-heading--s,
		&-text--s {
			font-size: $s + px;
			font-size: $s/10 + rem;
		}

		&-heading--m,
		&-text--m {
			font-size: $m + px;
			font-size: $m/10 + rem;
		}

		&-heading--l,
		&-text--l {
			font-size: $l + px;
			font-size: $l/10 + rem;
		}

		&-heading--xl,
		&-text--xl {
			font-size: $xl + px;
			font-size: $xl/10 + rem;
		}

		&-heading--xxl,
		&-text--xxl {
			font-size: $xxl + px;
			font-size: $xxl/10 + rem;
		}


		// leading

		&-leading--xs {
			line-height: 1;
		}

		&-leading--s {
			line-height: 1.2;
		}

		&-leading--m {
			line-height: 1.4;
		}

		&-leading--l {
			line-height: 1.6;
		}

		&-leading--xl {
			line-height: 1.8;
		}

		&-leading--xxl {
			line-height: 2;
		}


		// font style

		&-font--sans {
			font-family: $sansSerifStack;
		}

		&-font--serif {
			font-family: $serifStack;
		}



		// font weight

		&-font--bold {
			font-weight: bold;
		}

		&-font--normal {
			font-weight: normal;
		}



		// bullets

		&-bullets {
			list-style: disc;	
		}

		&-bullets--none {
			list-style: none;	
		}


		// other text styles

		&-uppercase {
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}

		&-letterspace--in {
			letter-spacing: -1px;
		}



		/*-------------------------------------------    
		    Margins     
		-------------------------------------------*/

		// margin shorthand

		&-margin--0 {
			margin: 0
		}

		&-margin--xs {
			margin: $spacing + px;
		}

		&-margin--s {
			margin: ($spacing * 2) + px;
		}

		&-margin--m {
			margin: ($spacing * 3) + px;
		}

		&-margin--l {
			margin: ($spacing * 4) + px;
		}

		&-margin--xl {
			margin: ($spacing * 5) + px;
		}

		&-margin--xxl {
			margin: ($spacing * 6) + px;
		}



		// marginTop

		&-marginTop--0 {
			margin-top: 0;
		}

		&-marginTop--xs {
			margin-top: $spacing + px;
		}

		&-marginTop--s {
			margin-top: ($spacing * 2) + px;
		}

		&-marginTop--m {
			margin-top: ($spacing * 3) + px;
		}

		&-marginTop--l {
			margin-top: ($spacing * 4) + px;
		}

		&-marginTop--xl {
			margin-top: ($spacing * 5) + px;
		}

		&-marginTop--xxl {
			margin-top: ($spacing * 6) + px;
		}


		// marginRight

		&-marginRight--0 {
			margin-right: 0;
		}

		&-marginRight--xs {
			margin-right: $spacing + px;
		}

		&-marginRight--s {
			margin-right: ($spacing * 2) + px;
		}

		&-marginRight--m {
			margin-right: ($spacing * 3) + px;
		}

		&-marginRight--l {
			margin-right: ($spacing * 4) + px;
		}

		&-marginRight--xl {
			margin-right: ($spacing * 5) + px;
		}

		&-marginRight--xxl {
			margin-right: ($spacing * 6) + px;
		}


		// marginBottom

		&-marginBottom--0 {
			margin-bottom: 0;
		}

		&-marginBottom--xs {
			margin-bottom: $spacing + px;
		}

		&-marginBottom--s {
			margin-bottom: ($spacing * 2) + px;
		}

		&-marginBottom--m {
			margin-bottom: ($spacing * 3) + px;
		}

		&-marginBottom--l {
			margin-bottom: ($spacing * 4) + px;
		}

		&-marginBottom--xl {
			margin-bottom: ($spacing * 5) + px;
		}

		&-marginBottom--xxl {
			margin-bottom: ($spacing * 6) + px;
		}



		// marginLeft

		&-marginLeft--0 {
			margin-left: 0;
		}

		&-marginLeft--xs {
			margin-left: $spacing + px;
		}

		&-marginLeft--s {
			margin-left: ($spacing * 2) + px;
		}

		&-marginLeft--m {
			margin-left: ($spacing * 3) + px;
		}

		&-marginLeft--l {
			margin-left: ($spacing * 4) + px;
		}

		&-marginLeft--xl {
			margin-left: ($spacing * 5) + px;
		}

		&-marginLeft--xxl {
			margin-left: ($spacing * 6) + px;
		}



		/*-------------------------------------------    
		    Paddings     
		-------------------------------------------*/

		// padding shorthand

		&-padding--0 {
			padding: 0;
		}

		&-padding--xs {
			padding: $spacing + px;
		}

		&-padding--s {
			padding: ($spacing * 2) + px;
		}

		&-padding--m {
			padding: ($spacing * 3) + px;
		}

		&-padding--l {
			padding: ($spacing * 4) + px;
		}

		&-padding--xl {
			padding: ($spacing * 5) + px;
		}

		&-padding--xxl {
			padding: ($spacing * 6) + px;
		}



		// paddingTop

		&-paddingTop--0 {
			padding-top: 0;
		}

		&-paddingTop--xs {
			padding-top: $spacing + px;
		}

		&-paddingTop--s {
			padding-top: ($spacing * 2) + px;
		}

		&-paddingTop--m {
			padding-top: ($spacing * 3) + px;
		}

		&-paddingTop--l {
			padding-top: ($spacing * 4) + px;
		}

		&-paddingTop--xl {
			padding-top: ($spacing * 5) + px;
		}

		&-paddingTop--xxl {
			padding-top: ($spacing * 6) + px;
		}


		// paddingRight

		&-paddingRight--0 {
			padding-right: 0;
		}

		&-paddingRight--xs {
			padding-right: $spacing + px;
		}

		&-paddingRight--s {
			padding-right: ($spacing * 2) + px;
		}

		&-paddingRight--m {
			padding-right: ($spacing * 3) + px;
		}

		&-paddingRight--l {
			padding-right: ($spacing * 4) + px;
		}

		&-paddingRight--xl {
			padding-right: ($spacing * 5) + px;
		}

		&-paddingRight--xxl {
			padding-right: ($spacing * 6) + px;
		}


		// paddingBottom

		&-paddingBottom--0 {
			padding-bottom: 0;
		}

		&-paddingBottom--xs {
			padding-bottom: $spacing + px;
		}

		&-paddingBottom--s {
			padding-bottom: ($spacing * 2) + px;
		}

		&-paddingBottom--m {
			padding-bottom: ($spacing * 3) + px;
		}

		&-paddingBottom--l {
			padding-bottom: ($spacing * 4) + px;
		}

		&-paddingBottom--xl {
			padding-bottom: ($spacing * 5) + px;
		}

		&-paddingBottom--xxl {
			padding-bottom: ($spacing * 6) + px;
		}



		// paddingLeft

		&-paddingLeft--0 {
			padding-left: 0;
		}

		&-paddingLeft--xs {
			padding-left: $spacing + px;
		}

		&-paddingLeft--s {
			padding-left: ($spacing * 2) + px;
		}

		&-paddingLeft--m {
			padding-left: ($spacing * 3) + px;
		}

		&-paddingLeft--l {
			padding-left: ($spacing * 4) + px;
		}

		&-paddingLeft--xl {
			padding-left: ($spacing * 5) + px;
		}

		&-paddingLeft--xxl {
			padding-left: ($spacing * 6) + px;
		}


		


		/*-------------------------------------------    
		    Display     
		-------------------------------------------*/
		
		&-hide {
			display: none;
		}

		&-show,
		&-block {
			display: block;
		}

		&-display {

			&--block {
				display: block;
			}

			&--inlineBlock {
				display: inline-block;
			}

			&--inline {
				display: inline;
			}

			&--flex {
				display: flex;
			}

		}


		/*-------------------------------------------    
		    Positioning
		-------------------------------------------*/

		&-pos--absolute {
			position: absolute;
		}

		&-pos--relative {
			position: relative;
		}

		&-pos--static {
			position: static;
		}



		/*-------------------------------------------    
		    Moving
		-------------------------------------------*/

		&-move--offscreen {
			@extend .dm-u-pos--absolute;
			@extend .dm-u-show;
			left: -99999px;
		}

		&-move--onscreen {
			@extend .dm-u-pos--absolute;
			@extend .dm-u-show;
			left: 0;
		}


		/*-------------------------------------------    
		    Floating & Clearing
		-------------------------------------------*/

		&-float--left {
			float: left;
		}

		&-float--right {
			float: right;
		}

		&-float--none {
			float: none;
		}

		&-clear--left {
			clear: left;
		}

		&-clear--right {
			clear: right;
		}

		&-clear--both {
			clear: both;
		}

		/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
		&-clearfix:after {
			content: "."; 
			display: block; 
			height: 0; 
			clear: both; 
			visibility: hidden;
		}



		/*-------------------------------------------    
		    Backgrounds
		-------------------------------------------*/

		&-bg--none {
			background: none;
		}


	}

}