/*-------------------------------------------    
    Definitions: Colors     
-------------------------------------------*/

$orange				:		#ff6407;
$green				:		#6ed13d;
$purple				:		#a654d1;
$alabaster			:		#f8f7f7;
$ecru				:		#f6f4e8;
$silverRust			:		#cac2b8;
$cloudy				:		#aea89e;
$sandstone			:		#796b5e;
$armadillo			:		#3e3730;
$shipGray			:		#343139;
$turbo				:		#ffe400;
$wistful			:		#a1acd0;



/*-------------------------------------------    
    Definitions: Fonts     
-------------------------------------------*/

$serifStack			:		Georgia, 'Times New Roman', serif;
$sansSerifStack		:		Helvetica, Arial, sans-serif;



/*-------------------------------------------    
    Definitions: Units     
-------------------------------------------*/

$spacing			:		8;				// https://spec.fm/specifics/8-pt-grid

$xs 				:		$spacing;
$s 					:		$spacing * 2;
$m 					:		$spacing * 3;
$l 					:		$spacing * 4;
$xl 				:		$spacing * 5;
$xxl 				:		$spacing * 6;


/*-------------------------------------------    
    Double assignments     
-------------------------------------------*/

// colors

$mainActiveColor	:		$orange;
$textColor			:		$shipGray;


//typography

$mainFontStack		: 		$serifStack;