#get-comfortable p, #get-comfortable ul { font-family: "pt-serif"; }

#get-comfortable strong, #get-comfortable .article-title, #get-comfortable .outro .post { font-family: "futura-pt"; }
#get-comfortable strong { font-weight: normal; }